[2016-11-06 04:19] razorsoup commented on #348
No, that doesn't seem to work.

[2016-11-06 15:28] xtj-9182 opened #367 "[enhancement] getting Albums from Providers seems slow, can we minimize these calls ?"
So I have lots of albums with a dozen on external storage as well.
When I browse albums and click on one and then go back,
`loadAlbums` from the `HandlingAlbums` class is ALWAYS called. So every time I go an Album and then I press back it will call `loadAlbums` every single time. This is slow on my device, I've tested it and the default MediaStoreProvider is the slowest, the Alternate MediaProvide

[2016-11-06 15:47] FroDar commented on #344
It was constantly crashing at startup on 6.1, now that I have a  7.0,  so far it hasn't crashed.

[2016-11-06 15:57] andyrtr commented on #344
I had such crash when there was no picture at all. After the first photo taken and put there it opened well on Marshmallow. But maybe that's a different crash at startup.

[2016-11-06 19:44] dnldsht commented on #366
fixed on the dev branch

[2016-11-06 19:45] dnldsht commented on #365
fixed on the dev branch

[2016-11-06 19:51] dnldsht commented on #363
May I know wich android and app version are you using?

[2016-11-06 19:55] ouafnico commented on #363
Of course. Android 7.0. The app is 0.5.9 (from fdroid)

[2016-11-06 20:05] dnldsht commented on #363
upgrading to 0.6-beta-1 should fix this issue

[2016-11-06 20:13] ouafnico commented on #363
I confirm the beta works for this. Thanks

[2016-11-06 20:13] #363 closed

[2016-11-08 03:19] aibaraiduas opened #368 "Swiping between pictures slow and jerky"
Swiping between pictures is now very jerky and a bit slow. In addition, often times when I swipe nothing happens, especially if an image just loaded.

Yet swiping worked fine and was very quick in version .5.2. It became slow in .5.9; it remains an issue in .6-beta-1.

Tested on a Nexus 5, Android 6.0.1.

[2016-11-08 09:02] freefri opened #369 "Crash deleting screenshot"
LeafPic 0.5.9 crashes when deleting a screenshot on Nexus 4.
To reproduce:
1. Take a screenshot
2. Open the screenshot with LeafPic from the notification
3. Press the delete button in LeafPic
Then: LeafPic stops working
When I open LeafPic again the screenshot is in "displayed" but as a 404 image.

I could provide more info, just ask for it.

[2016-11-08 12:53] xtj-9182 commented on #364
this happens to me too, initially I suspected that it had to do with the serialization of the albums ArrayList but this seems to happen even when I delete the albums.dat file.

I can reproduce this with the latest build (commit 2925516579b6dd60ae7af8f443cbfbd01eb2cd20)

I use a Screenshot app called Screenshot Easy (https://play.google.com/store/apps/details?id=com.icecoldapps.screenshoteasy&hl=en

[2016-11-08 13:20] dnldsht commented on #364
@xtj-9182 can you try to enable the alternative provider ad tell me if they are still there?

[2016-11-08 13:28] ghost commented on #344
same here on android 4.4.2...

[2016-11-08 13:34] xtj-9182 commented on #364
Interesting it's only happening with the default Provider when I use the Alternate Provider everything works fine. So the default Provider seems to cause it for me.

edit: Is there a reason why the alternate Provider isn't the default it seems to work faster too for me.

[2016-11-08 13:34] dnldsht commented on #369
will dig into this, which version of android are you using? are screenshots on a sd card?

BTW there is the v0.6-beta-1 available.

[2016-11-08 13:35] dnldsht commented on #367
next release will handle this better

[2016-11-08 13:37] dnldsht commented on #358
This is already available, enter in an album select one image and in the menu will appear the 'Set as preview' option

[2016-11-08 13:37] xtj-9182 commented on #367
ok thx

[2016-11-08 13:44] dnldsht commented on #364
The MediaStore on android is a mess, because app have to tell the system(MediaStore) if they update/delete/create files and many developers dont care about it.

The alternative provider may be slower sometimes if you have many folders with images or even a slow SD card, beacuse it looks recursively for media.

I'm thinking for a solution to update the MediaStore using some alternative provider inf

[2016-11-08 14:23] freefri commented on #369
I'm using the last official version of Android 5.1.1
The screenshot was located in /storage/emulated/0/Pictures/
The Nexus 4 does not have sd card, but it has a "storage" partition

I've upgraded to the LeafPic v0.6-beta-1 and I am not able to reproduce the problem anymore (I was expecting a beta to be less stable than a non beta) but the old 404 picture was still there. I've rebooted the phone an

[2016-11-08 14:34] dnldsht commented on #369
@freefri it is related to #364 can you enable the alternative provider and give me the feedback?

[2016-11-11 07:07] LoveqLRC opened #370 "Failed to resolve: uz.shift:colorpicker:0.5"
`Error:(71, 13) Failed to resolve: uz.shift:colorpicker:0.5`
Reported the wrong, how to solve?

[2016-11-13 09:35] kujaw opened #371 "Pictures on SD Card are hiding after few seconds"
Whenever I open an image which sits in directory on SD card it shows for a second and then disappears. I only see a gray background..
Android 7.1, LeafPic 0.5.9.

[2016-11-13 09:37] kujaw opened #372 "Clicking trash/delete button doesn't do anything"
When I want to delete image, open it and click trash button, nothing happens.
Android 7.1, LeafPic 0.5.9.

[2016-11-13 10:28] dnldsht commented on #370
according to `uz.shift:colorpicker`README you have just to include the repository:

[code]

and then the dependency:

`compile(group: 'uz.shift', name: 'colorpicker', version: '0.5', ext: 'aar')`

You should check if your ide has some trouble with the repository.

[2016-11-13 17:10] Jenna-66 commented on #371
Did you try to activate "Sub-Scaling Image View" in the settings ?

[2016-11-13 17:23] jenslody opened #373 "0.6-beta-1 crashes when opening video from secondary storage (MarshMallow)"
When trying to open a video from secondary storage (sd-card) from inside Leafpic, it crashes reproducible with: "java.lang.IllegalArgumentException: Failed to find configured root that contains video ..." in the logs.
Opening videos with eafpic from other apps (filemanagers) works fine.

The crash happens, because the file-provider for external storage always has the root-path "/storage/emulated/0

[2016-11-13 17:24] Jenna-66 commented on #372
I have the same issuee, when I try it the first time from the single-image view.
After doing the same from the album-view and allowing the access, it always works.

[2016-11-19 21:25] imnnrv commented on #349
It would be great. The main feature!

[2016-11-20 14:14] #341 closed

[2016-11-20 16:42] WolfgangAndreas commented on #348
Having the same problem here. Alternate provider does not help.

[2016-11-22 00:57] ghost commented on #368
I experience this as well. However for me it only happens on high-res photos taken with the camera app. It worsened in 0.6-beta-1 for me.

[2016-11-22 12:57] karlo12 opened #374 "View pictures from WebDAVs- or SFTP-folders"
This is a feature request. It would be awesome if you could open internet sources to view images coming from a server. One essential feature should then be the preloading and saving of image thumbnails. The whole image could then be loaded when it's opened.

I know this is a huge feature request but it would hugely improve the differentiation of LeafPic from other galleries. And yes, a bunch of fi

[2016-11-25 06:37] aexvir commented on #368
I also experience this issue, Android 6.0.1, Leafpic 0.6-beta-1

[2016-11-25 20:37] wyatt8740 commented on #374
+1 because this was something I did all the time when I used jailbroken iOS many years ago. Would be awesome to have this functionality. I would make thumbnail preloading optional however, because that'll require downloading each and every image in the directory, and on a SFTP or webDAV dir of arbitrary size, this could be a Very Bad Thing (tm) in terms of bandwidth usage and time wasted. I would

[2016-11-29 06:32] Sysmain opened #377 "no filter_mode when in PICK_intent"
Intent.ACTION_GET_CONTENT or Intent.ACTION_PICK

"image only" or "video only".
I have a solution about this.

[2016-11-29 07:19] dnldsht commented on #377
like what?

[2016-11-29 08:14] Sysmain commented on #377
like select picture or video from LeafPic

[2016-11-29 08:23] dnldsht commented on #377
I dont get how I can handle this.

[2016-11-29 19:11] ghost commented on #371
Activating "Sub-Scaling Image View" helped. Now I can see my photos, thanks. Don't know if I should close this topic?

[2016-11-29 21:13] wyatt8740 commented on #368
I can also confirm this on my Nexus 6 running Android 5.0.1.
The higher resolution the slower it is.

[2016-12-03 23:01] Almtesh commented on #188
@dnldsht Sorry, I can't tell you if it works since I changed my mobile operator and I can't recieve MMS anymore. I think more and more to rollback to the previous one, but I don't know.

[2016-12-04 06:55] alekksander commented on #188
I experience the same bug with QKSMS and LeafPic.

[2016-12-04 15:12] ouafnico commented on #368
Same on 7.1.1 with last beta version
Menus very very slow, and crashing a lot

[2016-12-10 12:30] williamchange opened #379 "Tick on folder selection does not show up after theme change to Dark/AMOLED theme"
**steps to reproduce**
1. Switch theme to Dark AMOLED/Dark theme
2. restart the app(swipe away from recents)
3. open the app again and try selecting any folder

It still shows how many folders i have selected in action bar but I cannot see which folder is selected ( no color/tick  highlight over folders), and switching back to white theme does not fix this.

**platform:**
Android 7.0, LeafPic v0.5

[2016-12-10 12:53] Valeria-AT commented on #379
No visual change here on Android 5.1.1, Leafpic 0.5.9 too. I always use dark theme.

[2016-12-13 19:22] ouafnico opened #380 "Moving slow"
Hi

When moving a picture to another folder, there is some seconds waiting the folder list. I'm pretty sure this is because of the number of pictures on each folder counted... any way to disable this count feature?

Thanks

[2016-12-14 07:24] Sysmain commented on #274
i have allready revolved it. see NPE somthing #376

[2016-12-16 06:55] mittalharsh2810 opened #381 "Media is gif is null"
Sometimes when i click on any folder and in that folder there is only 4 media.
When i click on folder it crashed and give me error on Media.java(107)  : Media.isGif() on null object reference.
I have debug i got the reason for this, there is mimetype is null, help me to solve out these issues.

[2016-12-16 07:09] dnldsht commented on #381
@mittalharsh2810 have you tried to build the latest version on dev branch?

[2016-12-16 08:57] harshmittal2810 commented on #381
Dev version is not showing any file in my device

[2016-12-16 08:58] dnldsht commented on #381
Sorry i forgot to say that you have to chose folders in the settings via
the whitelist option

On Fri, Dec 16, 2016, 9:57 AM mittalharsh2810 <notifications@github.com>
wrote:

[2016-12-16 09:00] harshmittal2810 commented on #381
Why it is so, there is any other option to make it defaults

[2016-12-16 09:00] harshmittal2810 commented on #381
I want to join your app development also

[2016-12-16 09:04] dnldsht commented on #381
It is a testing version, in the release folders will be selected.

You are welcome if you wanna join the development.

On Fri, Dec 16, 2016, 10:00 AM mittalharsh2810 <notifications@github.com>
wrote:

[2016-12-16 09:06] harshmittal2810 commented on #381
when will be the next release

[2016-12-16 09:08] dnldsht commented on #381
It won't take so much

On Fri, Dec 16, 2016, 10:07 AM mittalharsh2810 <notifications@github.com>
wrote:

[2016-12-16 09:19] harshmittal2810 commented on #381
When i am Adding White List some of folder will automatically unchecked.
I tried two or more time checked them but after returning it was excluded.

[2016-12-16 09:23] dnldsht commented on #381
Will look into this after school.

On Fri, Dec 16, 2016, 10:19 AM mittalharsh2810 <notifications@github.com>
wrote:

[2016-12-16 17:01] xtj-9182 commented on #381
I had this too and I just assumed that the dev build was broken hehe
didn't know about the white listing.

@dnldsht
anyway the current latest dev build (5035591efdc15ba0ca101e3365003116f1134a4e) seems to work on my side. I don't have the behavior that is described by @mittalharsh2810

I have just one question what is the "looked for media" notification doing ? It seems to be there at all times and

[2016-12-16 17:47] dnldsht commented on #381
@xtj-9182 I'm finding out how to solve the issue that some folders aren't scanned by the MediaStore on some devices.
Since I'dont know so much about backgroud services, I'm testing some of them, in the latest build there are a service that the Andoid system chose when to execute it (it should run when your device is doing nothing) the notification just help me to kwno when it start (in the next re

[2016-12-19 06:25] Valeria-AT commented on #380
https://github.com/HoraApps/LeafPic/issues/241

[2016-12-23 16:55] nickcorona commented on #168
Why do you keep closing this issue? It's not fixed.

[2016-12-23 19:20] rugk commented on #168
Indeed I can also reproduce this with multiple apps.

However as I see it mostly only happens with big pictures (e.g. taken with the camera apps). Small pictures downloaded from website work however.

[2016-12-28 20:16] oatberry commented on #368
Can confirm, Nexus 6P with CopperheadOS 7.1.1 and LeafPic v0.6-beta-1. Love this app, but resizing photos, swiping between photos, and using the overflow menu are all extremely laggy and slow.

[2017-01-05 17:22] bwurst opened #383 "Zoom is incredibly slow"
When I do the two-finger gesture to zoom an image, it takes about 3 seconds until the images is zoomed. Moving around in the zoomed image is the same.

Using Moto G4.

[2017-01-08 21:38] transplier commented on #317
This happens around 95% for me on my lg g3 running cm13, but only on pics i took at 13mp. Opening the image by tapping on the gallery thumbnail always works, but any of these actions trigger the issue more often than not :

1. Swiping to change image.
2. Tapping on image to go full screen.
3. Pinch zoom.
4. Changing device orientation.

Once triggered, the issue persists until I go back to gallery

[2017-01-08 21:40] transplier commented on #317
The subscaling mode seems to work around the issue.

[2017-01-12 19:41] bilelmoussaoui commented on #245
It's because you have the same folder on sd card and your phone's memory

[2017-01-12 22:58] A37stKpDodi4BEr65TXb commented on #245
@bil-elmoussaoui Has nothing to do with external sd card because Nexus has none.

[2017-01-12 23:01] bilelmoussaoui commented on #245
@ContactFront Ah sorry i didn't saw the phone model. But it's the case here for me when i have the same folder on both (with different images)

[2017-01-13 11:37] Cyanodesmus opened #384 "Pi"

[2017-01-13 11:37] #384 closed

[2017-01-13 11:39] Cyanodesmus opened #385 "Some pics are rotated or flipped"

[2017-01-14 03:47] apsun opened #386 "Double-delete causes entire album to be deleted"
In the album view, when selecting multiple images and pressing the delete button twice in quick succession (before the first dialog appears), two confirmation dialogs are created. When clicking delete in the first dialog, it correctly deletes the selected images. However, clicking delete in the second dialog (which was behind the first dialog) causes the entire album to be deleted, which I think i

[2017-01-16 20:05] dnldsht commented on #386
@apsun  thanks for the feedback will look into that.

[2017-01-24 06:00] arvi opened #387 "Device Compatibility"
Hello,

I was testing this in both Lollipop (working) and JellyBean 4.2.2 (not working). I was just wondering why did you not make it available with 4.2.2? Is there any major LeafPic feature that won't work (e.g displaying of video or images)?

Found it through here: https://blog.aritraroy.in/20-awesome-open-source-android-apps-to-boost-your-development-skills-b62832cf0fa4#.wl62dn1l8

Thanks a lot

[2017-01-31 18:59] Sam-C-Dev commented on #201
I just tried to Move about 15 pictures out of my Camera Folder, into a new Folder.  However, this deleted ALL pictures from my Camera folder, and there are NO pictures in the destination folder. Every photo I have - GONE. I'm looking all over the phone to see if they could have been moved to a TMP folder or something, but nothing is coming up. I'm really not sure I trust this app yet. URGHH

[2017-01-31 19:09] Sam-C-Dev commented on #364
I too get a 404 for my Screenshots _and_ Download folder.  Also, I normally would hide the Screenshot folder in QuickPic, but with LeafPic I can't hide it. There is some private stuff in there.
I'm am using the standard screenshot method with Galaxy, not a 3rd party app.

![2017-01-31 13_06_00-clipboard](https://cloud.githubusercontent.com/assets/25025399/22480184/21ffe824-e7b6-11e6-8b0c-048ea5aca

[2017-01-31 19:13] Sam-C-Dev commented on #386
I just had a whole folder get deleted during a move operation. I wonder if these are related....

https://github.com/HoraApps/LeafPic/issues/201#issuecomment-276457521

[2017-02-04 21:53] pelya opened #388 "Keep zoom level when flipping through images"
If I zoom into the image, and flip to another image, the zoom is reset to default fit-to-screen.
Would be nice to keep zoomed into the new image as well.
That's mainly for reading manga, which usually has several scenes on one page, but would be an improvement for non-manga use cases too, such as Batman comics for example.

[2017-02-05 02:15] pelya commented on #388
Patch: #389

[2017-02-05 10:42] Valeria-AT commented on #388
Not every user want this new behaviour. Please add a setting for this!

[2017-02-05 12:09] pelya commented on #388
I thought it is unobtrusive enough - new behavior is activated only if you
zoom in the first place, and zoom is reset if you switch back to album view.

But adding a setting is no problem for me.

On Feb 5, 2017 12:42 PM, "Theobald93" <notifications@github.com> wrote:

Not every user want this new behaviour. Please add a setting for this!

—
You are receiving this because you authored the thread.

[2017-02-05 12:11] ale5000-git commented on #388
Maybe it would be useful to keep also rotation when flipping through images (with setting).

[2017-02-05 13:00] touzainanboku commented on #388
I also think this should be optional. While it is great for reading comics and manga, LeafPic is primarily a gallery, and I personally would prefer it to reset the zoom level when I'm not reading anything (which is most of the time).

[2017-02-05 14:40] marmeladema commented on #355
If i understand correctly, i think i have a similar use case.

I use Nextcloud to synchronize my photos and they are automatically moved from:
* `<gallery>`

to:
* `Nextcloud/<gallery>/<year>/<month>`

and i have multiple galleries:
* Camera
* Screenshots
* Download
* etc

Then problem is that LeafPic shows me galleries called 01, 02 and so on.
It has two majors drawbacks:
* New galleries are crea

[2017-02-05 20:06] pelya commented on #388
I've added an option to settings to disable this feature, it's in the pull request.

About keeping rotation - not today, sorry. Rotating images is not implemented yet in LeafPic anyway, the Rotate button does nothing.

[2017-02-12 06:24] wisemonkey opened #390 "map provider usage"
This is not an issue, however I don't see how to use map provider.
And I was not sure where else to ask the question (no forum / wiki etc.)

[2017-02-12 11:13] harshmittal2810 commented on #381
Hello, I am getting the same error in latest branch dev.
And the error is in some folder like this:
`02-12 16:35:42.261 31293-31293/org.horaapps.leafpic.debug E/AndroidRuntime: FATAL EXCEPTION: main
                                                                            Process: org.horaapps.leafpic.debug, PID: 31293
                                                                            j

[2017-02-12 18:08] lalitsonawane commented on #381
Try putting try catch where you are getting error.

[2017-02-13 09:48] harshmittal2810 commented on #381
thanks but it is not satisfied code because if i put try catch,
media will not be shown to than and further also.

[2017-02-13 09:50] harshmittal2810 commented on #390
When you click from the camera and you enable location on that, you will see your location of that image is clicked in Image property.

[2017-02-13 18:41] wisemonkey commented on #390
Thanks 👍 I see it in file manager (Fx or on computer). LeafPic itself doesn't show it when I click on details, is that correct behavior?

[2017-02-13 20:42] dnldsht commented on #386
added a progress dialog on deleteting

[2017-02-13 20:48] dnldsht commented on #381
check out last commit it should fix this issue

[2017-02-13 20:55] dnldsht commented on #385
duplicate

[2017-02-13 20:55] #385 closed

[2017-02-13 20:55] #370 closed

[2017-02-13 20:57] dnldsht commented on #372
fixed with the last commit, added a progress dialog when you are deleting

[2017-02-14 21:24] ghost commented on #372
Works out of the box now. Closing.

[2017-02-14 21:24] #372 closed

[2017-02-15 05:55] harshmittal2810 commented on #381
I am still getting that error in Media Adapter
when I debug the app there is some image which does not have mime type or missing mime type.
there must be some handle for that ?

[2017-02-20 04:23] kylm53 opened #391 "album selection bug"
when first time launch app,long click on album item,it's normal,but next launch or enter a album then back,long click to select an album, it can't show checked icon.
So I modified the swapDataSet() method in AlbumsAdapter class:
[code]

[2017-02-20 04:25] kylm53 opened #392 "album selection bug"
when first time launch app,long click on album item,it's normal,but next launch or enter a album then back,long click to select an album, it can't show checked icon.
So I modified the swapDataSet() method in AlbumsAdapter class:
public void swapDataSet(ArrayList<Album> asd) {
        if (albums == asd) //change "equals" to "=="
            return;
        albums = asd;
        notifyDataSetChanged

[2017-02-20 06:23] #392 closed

[2017-02-20 19:32] ouafnico commented on #383
Same.. almost unusable.
Nexus 5x / android 7.1.1

[2017-02-21 15:57] Valeria-AT commented on #391
Does this also resolve https://github.com/HoraApps/LeafPic/issues/379 ?

[2017-03-05 18:37] MarcSaric commented on #168
Same here, K9 attachments created with an (iPhone 6 camera) can't be opened. Hardware is a Sony Xperia Z5 Compact, patched to the latest Android (7.0) and K9 Mail version (as of today). Installed LeafPic as a replacement for the anoying Sony-provided Album-App from Google AppStore. Behaviour of LeafPic is otherwise OK (opens images on local and SD-Card storage).

Please reopen this bug. See also #

[2017-03-07 01:47] kylm53 commented on #391
@Theobald93 Yes,I tried,it resoled #379

[2017-03-14 11:44] alekksander opened #395 "release schedule"
hello!
when can we expect this excellent piece of software to be out of its beta stage? is there some kind of roadmap somewhere? i'd like to start recommending ;)
…or at least a new build going to be released soon?

thank You.

[2017-03-15 12:10] rahul16899 opened #396 "Fingerprint integration while opening hidden folders instead of a PIN or a pattern."
Almost all phones have a fingerprint scanner now, It's so much convenient now. So, I request you to add **Fingerprint integration** while opening hidden folders instead of a PIN or a pattern.

[2017-03-22 09:41] AlDorado9000 opened #397 "Crash on "exclude folder""
On my Axon 7 (Android 7.0) the app crashes when clicking "exclude folder".

[2017-03-22 17:41] sbobbo commented on #395
There hasn't been a real update in over 5 months. I'm pretty sure this has been abandoned.

[2017-03-22 18:44] dnldsht commented on #395
@sbobbo the project isn't abandoned.

@alekksander no roadmap :)
I'm working on it, here are some things that I want to solve before a non-beta release

1. (In progress) rewrite the folder/media management with cool stuff to get performance increase
2. (Need help) write from scratch an ImageView that allows zooming also on bigger images smoothly
3. (In progress) some new small features

I will rel

[2017-03-22 19:21] sbobbo commented on #395
Oh, that's very exciting to hear. Sorry about that.

[2017-03-23 13:04] d4rken opened #398 "Crash when resuming LeafPic after purge from memory"
I opened LeafPic from my launcher shortcut, it tried to resume on a specific album or picture is viewed when I last had it open.

Opened fine when opening it again.

`Pixel 128GB @ 7.1.1`

Seems to happen everytime the UI is open on a sub album and the app has been removed from memory and is then restored.

[code]

[2017-03-24 07:50] emdete commented on #168
the bug still exists. here is a exception stack trace:

[code]

looking into the source shows the error:there is a private constructor which has to run to fill class members. this is done by `this()` in one constructor, the others contain `super()` instead which circumvents this initialisation. replacing `super` with `this` (twice, line 58 and 74) solves the issue.

the second problem is the `equa

[2017-03-29 10:21] emdete commented on #364
for deleted images it's enough to just issue a rescan. i would suggest to use the MediaStore but check the image for existance and date. if either fails kick off a scan and the MediaStore is updated fine. something like this should be fine:

[code]

detection of new media not in the store may be a bigger problem as one has to iterate through the filesystem...

[2017-04-01 13:11] mohitdholee opened #399 "doesnt search all media files"
it doesn't search for media present in sd card
![screenshot_20170401-183445](https://cloud.githubusercontent.com/assets/26838122/24578986/49d3b80c-170a-11e7-81d9-ce885a0bed04.png)
![screenshot_20170401-183519](https://cloud.githubusercontent.com/assets/26838122/24578985/49c92f54-170a-11e7-9263-e268a83afd6a.png)

comparison between quickpic and leafpic

the **Bluetooth** and the **document** folder

[2017-04-05 08:29] uberspot commented on #177
For cropping you can also take a look into https://github.com/steelkiwi/cropiwa

[2017-04-05 16:25] dnldsht commented on #177
@uberspot will definitely look into that!

[2017-04-05 16:58] dcantir commented on #397
@AlDorado9000, can you add the stacktrace please?

[2017-04-08 21:12] Bugsbane commented on #118
Getting this issue on 0.6 beta 1 from fdroid.

[2017-04-08 21:59] Bugsbane opened #401 "ability to rotate images"
Yes, I know that it says "coming soon" in the interface, but well... I'd really love to see this feature materialize. Half my images show up with the wrong rotation and it's really annoying that the feature to manually rotate them to the right way is always visible but not functioning.

Preferably, rotating would edit the exif information, so images stayed rotated every time they were looked at.

[2017-04-13 04:36] dkanada opened #403 "Opening an image from an intent doesn't load the image."
I have the same problem as #219 which was closed a while ago. LeafPic shows a blank screen when receiving an intent from any app on my phone as far as I can tell, namely Solid Explorer and Conversations. I have the latest version from F-Droid and am using a LineageOS nightly.

[2017-04-17 16:45] zeddysoft commented on #271
Surprisingly, i downloaded a 3gp video and it showed up on LeafPic, anyone with the same issue or has the issue been fixed?

[2017-04-17 18:27] zeddysoft commented on #348
@razorsoup i think the issue has been fixed, tried recreating the issue here by creating an hidden subfolder in a hidden folder with **no** .nomedia file in the subfolder and the subfolder is displayed by LeafPic

[2017-04-19 06:07] zeddysoft commented on #348
@dnldsht have you confirmed this from your end?

[2017-04-19 06:09] zeddysoft commented on #271
@dnldsht can you confirm this from your end?

[2017-04-22 16:26] mHerasimov opened #404 "Usage of AlertDialog and Card views"
I just found that in this repo AlertDialog and Card views are used instead of DialogFragment and custom layouts. For example in [this class](https://github.com/HoraApps/LeafPic/blob/dev/app/src/main/java/org/horaapps/leafpic/settings/ColorsSetting.java) you can see wide usage of AlertDialog instead of DialogFragment.

So could somebody explain me why? As far as I see it just adds complexity.

[2017-04-24 01:55] ecanja opened #405 "Crash when (de-)activating setting 'Internal Video Player'"
Android v5.1
LeafPic v0.5.9

When I deactivate and immediately afterwards re-activate the setting 'Internal Video Player', the app crashes occasionally (sometimes I have to try multiple times - it's only reproducible with nearly no pause between the activation and deactivation). `adb logcat` gave two different stacktraces:

[code]

[2017-04-26 05:57] ouafnico opened #406 "Show image so slow!"
Hello

Opening an image is almost unusable, so slow ! Difficult to move the picture or zoom in.
I'm using v0.5.9

[2017-05-08 12:27] murder commented on #396
That would be an awesome plus

[2017-05-09 08:44] mittalharsh2810 opened #407 "Some thing is not commited or removed"
I just download the dev branch repo and try to run but i found some items is missing in AlbumsAdapter.java
In ViewHolder
@BindView(R.id.linear_card_text) View footer;
@BindView(R.id.ll_n_media) View llCount;
These two cannot able to find, please solve this.

[2017-05-09 08:50] dnldsht commented on #407
Try to build the observable branch

On Tue, May 9, 2017, 10:44 AM Harsh Mittal <notifications@github.com> wrote:

--
Cheers! Donald

[2017-05-09 10:45] harshmittal2810 commented on #407
Is dev branch is not stable?

[2017-05-09 10:47] dnldsht commented on #407
Nope

On Tue, May 9, 2017, 12:45 PM Harsh Mittal <notifications@github.com> wrote:

--
Cheers! Donald

[2017-05-09 10:53] harshmittal2810 commented on #407
when will you fixed this branch ?
I was waiting for too long.
Please fix this branch

Thanks & Regards
Harsh Mittal
Android App Developer
+919990836466,7599317997

On 9 May 2017 at 17:17, Donald Shtjefni <notifications@github.com> wrote:

[2017-05-09 10:54] mittalharsh2810 commented on #407
I am getting this error
Error:Could not initialize class com.android.ide.common.util.ReadWriteProcessLock

[2017-05-10 07:56] harshmittal2810 commented on #407
I am still not able to run leafpic-observable app also.
there is some error in package and compile option for debug and also facing some issue regarding java 8 or may be something else

Error:Execution failed for task ':app:transformClassesWithPreJackPackagedLibrariesForDebug'.

[2017-05-11 02:36] manuelpaulo commented on #299
Encryption would be great. I see no point on the 'hidden folders' feature since any browser will be able to find the images/movies.  (dot .files & .nomedia)

I've hide a movie on a 'hidden' folder and VLC found it easily, or am I missing something?

Also, why not simply use the Internal Storage (MODE_PRIVATE) to hide files?

[2017-05-22 09:17] tracywang26 commented on #407
I can't run leafpic-observable app too. The same question with @mittalharsh2810.

[2017-05-23 07:16] repsorp opened #408 "Crash when trying to "Edit with""
#11 05-23 08:10:19.036 W/System  (25758): ClassLoader referenced unknown path: /data/app/org.horaapps.leafpic-1/lib/arm64

Path should be:
/data/app/org.horaapps.leafpic-1/lib/oat/arm64

Config:
device: LGE bullhead | Nexus 5X | google | N2G47O
version: 7.1.2 | REL
LeafPic v0.6-beta-1

CrashLog:
[2017-05-23-08-11-17.txt](https://github.com/HoraApps/LeafPic/files/1021203/2017-05-23-08-11-17.txt)

[2017-05-23 20:20] WesBunton commented on #407
Same here. I'm getting errors when attempting to build the develop or observables branches in Android Studio v2.3.1.

The first error I get is:
Error:(1, 0) The android gradle plugin version 2.4.0-alpha5 is too old, please update to the latest version.
To override this check from the command line please set the ANDROID_DAILY_OVERRIDE environment variable to "e20ac170a53fa5508f9fdf9ce4ce021a54cea20

[2017-05-30 21:55] Ninnix commented on #408
up

[2017-05-31 00:07] ikocevski opened #410 "Force closing on KitKat"
The app reaches the splash screen on launch and then FCs. Tested with v0.6-b1, 0.5.9 and 0.5.2 on CM11 (4.4.4).

MatLog in debug mode 0.6-b1:

05-31 01:39:46.774 I/Timeline(11449): Timeline: Activity_launch_request id:org.horaapps.leafpic time:7285612
05-31 01:39:46.774 I/ActivityManager(2682): START u0 {act=android.intent.action.MAIN cat=[android.intent.category.LAUNCHER] flg=0x10200000 cmp=org.h

[2017-06-05 07:51] xiaming5368 opened #411 "resourse id not found"
AlbumsAdapter.java
@BindView(R.id.linear_card_text) View footer;
@BindView(R.id.ll_n_media) View llCount;

id not found?

[2017-06-06 13:34] tobycheese commented on #113
Where do I find this? How do I to exclude a path? All I can find is the ability to exclude one specific folder that has an image in it, but same as the op, I need to exclude the top of my music folder.

[2017-06-06 15:36] alekksander commented on #113
@tobycheese heh, that's exactly why at some point i choose leafpic over other gallery aps — too many album covers mixed with my personal catalogs

long press album folder from main view, when it's selected click three dots on top, then exclude and there You can choose exact localization to be excluded. the list contains selectable list like:
/storage/emulated/0/documents/long_pressed_folder_name
/

[2017-06-06 18:24] tobycheese commented on #113
@alekksander thanks, that worked!

[2017-06-08 04:37] jdbhanderi commented on #411
Error:(298, 23) error: cannot find symbol variable linear_card_text
Error:(299, 23) error: cannot find symbol variable ll_n_media
Error:(298, 47) error: Unable to parse @BindView binding.

please help!

[2017-06-28 11:35] dnldsht commented on #411
fixed in dev branch

[2017-06-28 11:35] #411 closed

[2017-06-28 15:27] #379 closed

[2017-06-28 15:27] #391 closed

[2017-06-28 19:31] conrad-heimbold commented on #287
+1 - SVG is better than PNG in almost every aspect, but unfortunately, nobody uses it...

[2017-07-06 14:15] FielddddMMMMarshal opened #412 "When it will be out of beta ?"
It is awesome gallery but a lot of features are not available !Its been a long time in beta stage so  when the app will be out of BETAstage ???

[2017-07-06 14:24] alekksander commented on #412
https://github.com/HoraApps/LeafPic/issues/395

[2017-07-06 14:25] alekksander commented on #395
how is the progress on the issue?

[2017-07-18 06:18] Cholker commented on #395
This is the best gallery I have used since the Non-Cheetah version of QuickPic. Though app is still fully functionable I hope there will be continuous support of this great gallery app. Thank you so much!

[2017-07-21 06:20] xiaming5368 opened #413 "The project does not work properly, missing plugins and files"
1、missing retrolambda plugin
2、missing ThemedActivity

[2017-07-23 01:11] mappu opened #414 "Crash on startup (+logcat)"
Hi,

It worked until recently, but now LeafPic crashes on startup.

Wipe app data/cache does not resolve the issue.

Version is 0.5.9 from FDroid.

Thanks

[code]

[2017-07-24 21:48] gsantner opened #415 "License fraud?"
Hey there,
I found out about a lot of license violation recently of one of my GPLv3 apps.

I also found this one, maybe the project team is interested to hear about this:

* https://codecanyon.net/item/my-gallery/20324947?s_rank=17
* https://codecanyon.net/item/my-gallery/screenshots/20324947

Looks like LeafPic somewhat? ;)

@dnldsht  @Mow3l

[2017-08-04 19:59] bignadad opened #416 "Fragment to show all photos in all albums"
How can i create a fragment to show all photos in all albums?

When opening RvMediaFragment you have to give it a album to open. I have looked at the CPHelper / getMedia function but it requires a album. Is there an easy way to do this?

[2017-08-04 20:06] dnldsht commented on #416
You can create a method in CPHelper like [this one](https://github.com/HoraApps/LeafPic/blob/dev/app/src/main/java/org/horaapps/leafpic/data/provider/CPHelper.java#L177) that simply doesn't filter by any album id

[2017-08-06 15:24] bignadad commented on #416
I tried creating this

[code]

And calling it with this

[code]

But returns nothing. What am I missing? Thank you for the response

[2017-08-06 16:44] dnldsht commented on #416
You dont have to filter by the `PARENT` anymore, it should be like this:

[code]

I also think that you dont have to filter the observable either.

[2017-08-06 16:51] bignadad commented on #416
That worked. Thank you very much!

[2017-08-06 16:52] dnldsht commented on #416
Hope to see a pull request!
Have a nice day!

[2017-08-07 16:08] Bugsbane opened #417 "Blank screen whenever opening an attachment from K9"
Hi there,

I've had this issue for years now, but whenever I try to open any image attachment from k9 using Leaf pic, I always just get a blank screen. If I download the image and them open it in Leaf pic, it displays fine.

You can replicate just by installing k9, downloading an email with an image attachment, clicking on it and choosing LeafPic to view/open it.

[2017-08-09 18:54] k3b opened #418 "crash on appstart: android-4.4 does not contain/support "drawable ripple""
LeafPic v0.5.9 uses code that is not supported by my android-4.4 cellphone

according to https://developer.android.com/reference/android/graphics/drawable/RippleDrawable.html
this requires android-api-21 or newer

callstack

	W/dalvikvm: threadid=1: thread exiting with uncaught exception (group=0x41925ce0)
	W/dalvikvm: threadid=1: uncaught exception occurred
	W/System.err: java.lang.RuntimeExcepti

[2017-08-12 12:01] moshpirit opened #419 "Folder details"
While is very nice to have a "details" option for the pictures, I would like to have a broader option to easily see if the content of a folder is from the internal storage or the SD. I was wondering if instead of writing "name number media" could be "name number internal/SD" or at least include a "details" option for the folder so we can long press the folder and see a "properties/details" option

[2017-08-21 07:01] Bugsbane commented on #417
Thank you! Will this make it's way to the 0.6 release, or the 0.7?

[2017-08-28 13:36] k3b commented on #418
with local build currend dev branch (2017-08-28) the issue does not exist any more. thanks for fixing

[2017-08-28 13:36] #418 closed

[2017-09-02 04:24] mthor1234 commented on #401
I'll take a crack at this

[2017-09-06 10:03] vxn2 commented on #415
Fraud on my account pls help

[2017-09-06 10:04] vxn2 commented on #415
I havent signed in on my account in a week pls go through my gmail i almost died pls help

[2017-09-06 10:05] vxn2 commented on #415
I still havent found out how to transfer reasonable amounts to my paypal and bank account

[2017-09-06 10:08] vxn2 commented on #415
License violation and psychological trauma violation against my mental health and physical wellbeing

[2017-09-06 10:08] gsantner commented on #415
That is not related to the app and to this issue..

[2017-09-06 10:14] dnldsht commented on #415
I can't do nothing for other versions of leafpic! you had to download it via the links on the README or build it yourself!

Flag/Report other versions that looks malicius!

[2017-09-08 13:26] gsantner commented on #415
both offers are down now.

[2017-09-08 13:26] #415 closed

[2017-09-09 10:03] sbrl opened #433 "Progress dialog when deleting media or albums"
If I long press -> select a few items and then delete them, it just keeps 'loading' and doesn't actually delete anything.

If I press delete while viewing a single image, it hangs infinitely and I can't press either delete _or_ cancel.

Brand-new Nokia 5, all updates installed, running Android 7.

[2017-09-11 00:54] cubakcabak opened #435 "[fr] scroll list horizonal option"

[2017-09-14 14:33] dimqua opened #436 "SD card install"
Please allow to install the app to SD card.

[2017-09-18 07:33] ItsBeenFun2017 opened #438 "Feature Request: Include Folder Option"
I find having the option to include only designated folders is extremely useful. I can include my camera folder and not have to worry about pictures showing up in other folders. I often view the pictures in other folders through file managers, and do not need a browser to view them. Having an "include folders" option as well as the "exclude folders" option would be ideal. The current app I use has

[2017-09-18 10:43] smitsgit commented on #433
![activities-SplashScreen-09182017161252.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59bfa219c4a2d80013b8a78f/125516c66e82c728ace21e0d46e9978e2a948abd86ecac0e974dfc953a4e14703b01a6253dd5ba79e7102b50585e48ad435d5d56e0ebc969f9ec6923ce4e01ffd46a587cc66e44feecd31ee903e926834f85e7b58d18c1e12f39f5c9de116a415841c3aa1f27aa8b4ac052f74ee14852a712356ae277357c55d9.png)

[2017-09-18 10:45] smitsgit commented on #433
Is this the kind of screen you see ? to better understand the hang behaviour , you are able to press cancel and use rest of the app but when you try to delete , this screen stays there forever.  Am i summerizing the issue in correct manner ?

[2017-09-18 22:11] sbrl commented on #433
No, that's not the kind of screen I see. I see a spinning loader in a popup like that which hangs indefinitely. I can't back out or do anything else.

When try and delete an image from the big preview (by hitting the bin icon on the top bar), I get a confirmation dialog, but I can't select any of the options and the app then hands indefinitely.

[2017-09-18 22:22] dnldsht commented on #433
@smitsgit I'm refactoring that dialog, soon you would see the progress and know if something fails

its already possible to cancel the operation on the dev branch

@sbrl where are stored the images?

[2017-09-19 02:13] smitsgit commented on #433
@dnldsht Thanks for the info. The behaviour i see on the dev branch is , on the album list if i do long press and choose delete from the tool bar , the above pop up comes and stays there forever and when you finally cancel , the items are not deleted. I kinda figured out why that is happening. Let me know if i can chime in to help or file this as separate issue since you are already refactoring th

[2017-09-19 11:51] nico151999 opened #439 "Build error - dimensions"
Dunno if it's just me or if it's a common error. Anyway, just wanted to check out the current state of development. I checked out the dev branch. A simple gradlew build wasn't successfull. Thus I tried it using Android Studio. Immediately I found out you're working with the 3.0 builds of Android Studio. Well, I downloaded it instantly and replaced my 2.3 version. However, even having this setup I

[2017-09-19 18:57] sbrl commented on #433
@dnldsht Ah, awesome! So the next release should fix the issue? Cool. The images are stored in the default camera directory on the microSD card, though as far as I know the location of the images doesn't actually matter (the same happens in the downloads folder on the device, IIRC - though I'd need to double check).

[2017-09-19 19:03] dnldsht commented on #433
@smitsgit you can comment down below or file a new issue. Your choice!

[2017-09-22 05:34] Bugsbane commented on #401
Thank you, @mthor1234!

[2017-09-23 20:04] saurabh47 opened #440 "Video not playing in MX player"
When I am trying to play some media via MX player it showing me following error.

![](https://i.imgur.com/NXlmAGh.jpg)

![](https://i.imgur.com/ArNrk4X.jpg)

[2017-09-28 16:20] roshani98 commented on #439
Try resolving the error using Build>Clean project. Then sync your files.

[2017-09-28 16:26] nico151999 commented on #439
Thanks for the suggestion but I've already tried that

[2017-09-30 15:21] Giovanni9921 opened #441 "Slow to show full Image and zoom"
Improve this

[2017-10-02 18:56] eMBee commented on #415
@gsantner did you do anything to have them taken down? other apps suffer the same fate, and i'd be interested to know if you know a way to get them removed from that site.

[2017-10-02 19:02] gsantner commented on #415
I did contact the support and told them about the problem

[2017-10-02 19:18] PaulWoitaschek commented on #415
Funny. For my project the same happened but they required me to write a formal "DCMA takedown notice".

[2017-10-06 09:04] sriramr98 commented on #270
I would like to take on the feature request. Whom should I contact to get started?

[2017-10-06 09:17] dnldsht commented on #270
That feature was partially implemented by #423 you may improve it adding
some sort of fast scrolling or group images by date

On Oct 6, 2017 11:04 AM, "Sriram R" <notifications@github.com> wrote:

[2017-10-06 09:34] sriramr98 commented on #270
@dnldsht  Yeah I have some ideas. However I need help with getting started as I've never contributed to an open source project anymore.

[2017-10-09 02:55] ugl1euro opened #442 "abandoned ?"
Has this app been abandoned ? Hasnt been updated in a year to the date

[2017-10-09 07:08] alekksander commented on #442
https://github.com/HoraApps/LeafPic/issues/395

[2017-10-15 12:15] dnldsht opened #443 "Fix icon color"
fix play video in selected icon color in AlbumsAdapter, MediaAdapter and MediaPagerAdapter

[2017-10-15 14:42] dnldsht opened #445 "Add fast scroll for images"
add scroll bar that allows fast scrolling while browsing images

[2017-10-15 14:59] esoxjem commented on #445
Hey @dnldsht, I'll take start with this :)

[2017-10-15 16:27] #442 closed

[2017-10-15 16:32] dnldsht commented on #439
You should check of the version of gradle, sometimes Android Studio does not ask to update it.
Or you can trying re importing the project. otherwise give me more info about the errors.

[2017-10-15 16:38] #416 closed

[2017-10-15 16:38] #414 closed

[2017-10-15 16:39] dnldsht commented on #413
retrolambda is deprecated use java8
ThemedActivity is now available

[2017-10-15 16:39] #413 closed

[2017-10-15 16:40] #412 closed

[2017-10-15 16:41] #407 closed

[2017-10-15 16:41] #406 closed

[2017-10-15 16:43] #390 closed

[2017-10-15 16:43] dnldsht commented on #396
available on dev branch

[2017-10-15 16:43] #396 closed

[2017-10-15 16:45] thakkaryash94 commented on #443
I would like to work on this.

[2017-10-15 16:56] #405 closed

[2017-10-15 16:59] #364 closed

[2017-10-15 17:00] #335 closed

[2017-10-15 17:00] #347 closed

[2017-10-15 17:00] #321 closed

[2017-10-15 17:08] #266 closed

[2017-10-15 17:15] thakkaryash94 commented on #443
So what I understand is we already set play icon to white but it is showing black in above adapters!

[2017-10-15 17:19] dnldsht commented on #443
a pull request #447 is open for this issue

[2017-10-15 17:22] thakkaryash94 commented on #443
I just updated the library it is working, so may be I don't think those changes are required because then we are overriding xml icon color in java.

[2017-10-15 17:27] #443 closed

[2017-10-15 19:39] #404 closed

[2017-10-15 19:49] #410 closed

[2017-10-15 19:51] #344 closed

[2017-10-15 19:55] #436 closed

[2017-10-17 13:20] tayyabahmad opened #454 "Hide folder not working!"
selecting the folder and marking it in OptionsMenu to hide doesn't do anything it just stays the same. Doesn't show up in "Hidden Folders" as well. Cant delete a folder from Hiden Folder. so please look at this issue. Btw good work app is good.

[2017-10-22 14:45] rupak0577 commented on #435
Can you explain it a bit? I don't see where a horizontal scroll would be required.

[2017-10-22 17:49] dnldsht commented on #435
@rupak0577 I think he was talking about the grid of media or albums

[2017-10-22 22:41] Lesik opened #456 "Feature request: Photo roll (sort by date, not folder)"
Hey,

first of all, thanks to all contributors for this great app.

My favorite way to organize photos is to see them in a photo roll sorted by date, thrown together from several locations.

For example, with the following folder structure:
- `~/DCIM/Camera`
- `~/DCIM/BackupFromNikon`
- `~/Bluetooth`
- `~/Pictures/Screenshots`

I'd like Camera, BackupFromNikon and the pictures I received via Bluet

[2017-10-23 06:40] rupak0577 commented on #435
@dnldsht Yes, but should we though? Because it makes sense to have a horizontal scroll only in landscape mode but not otherwise.

[2017-10-23 08:45] dnldsht commented on #456
In the dev branch there are a feature that list all the media, would look
to add a feature that filter folders and maybe group them by some sort of
date range

On Oct 23, 2017 12:41 AM, "Lesik" <notifications@github.com> wrote:

[2017-10-23 08:47] dnldsht commented on #435
Personally I don't like that feature, I found it confusing, so I'm not
gonna implement it, but anybody can do that if it's disabled by default

On Oct 23, 2017 8:41 AM, "Rupak" <notifications@github.com> wrote:

[2017-10-23 09:58] mittalharsh2810 opened #457 "TransactionTooLargeException on Single Media Activity"
Hello there,
I am using dev branch and when I open a media file of image or video it's throwing this error,

Exception thrown launching activities in ProcessRecord{67b2060 1121:in.web2droid.galleryview.debug/u0a255}
                                                   android.os.TransactionTooLargeException: data parcel size 665888 bytes
                                                       at andr

[2017-10-23 10:01] mittalharsh2810 opened #458 "Folder Deleting not Working"
When I try to delete the folder, only alert dialog with the process is coming for a long time and image and folder not deleting.

[2017-10-23 15:56] dnldsht commented on #457
Known bug on dev branch will fix this soon. You got it opening an
image/video in a large folder right?

On Oct 23, 2017 11:58 AM, "Harsh Mittal" <notifications@github.com> wrote:

[2017-10-27 04:44] shashank1094 commented on #458
It worked for me but the app crashed as soon as i press delete. I went back toh check if it was deleted or not and yes the folders were gone.

[2017-10-28 12:27] harshmittal2810 commented on #457
Yeah, I got ur new commit also.
Now working fine thanks
I am also want to contribute to this project.

[2017-10-29 18:38] #457 closed

[2017-10-30 12:54] dnldsht commented on #440
fixed with #460

[2017-10-30 12:54] #440 closed

[2017-10-30 12:57] dnldsht commented on #354
The video player is based on [ExoPLayer](https://github.com/google/ExoPlayer) so LeaPic supports only the formats that ExoPlayer supports

[2017-10-30 12:57] #354 closed

[2017-11-07 06:29] harshmittal2810 commented on #458
When I press delete now only dialog dismiss but folder not delete and That folder is in selected mode also.

[2017-11-08 15:45] dodybireuen opened #463 "LeafPic Apps Bugs : Can Not Use Features "Edit With" (Crash)"
Android is known as an open source operating system. Do not be surprised if many applications in source code free for many people. There are many reasons why developers make their apps open source, One of them is that the application can develop quickly because it is developed by the community.

![01.JPG](https://res.cloudinary.com/hpiynhbhq/image/upload/v1510149630/yycrdigi1po2o7aypjqb.jpg)

Leaf

[2017-11-08 15:50] dnldsht commented on #463
fixed in the dev branch, can you sum me up what utopian.io does?

[2017-11-09 05:01] dodybireuen commented on #463
utopian.io is an open source community. You can check this [link](https://steemit.com/@utopian-io) , there are many developers and open source lovers there. They compete to contribute to open source applications. I think Utopian.io is a great open source community

[2017-11-10 06:18] rupak0577 opened #465 "Is Ion required?"
It's only being used for gif previews which Glide is able to do. The dependency can be removed.

[2017-11-10 07:14] dnldsht commented on #465
I tried using glide, but ion has more performance in particularly loading
many gif previews simultaneously.

On Nov 10, 2017 7:18 AM, "Rupak" <notifications@github.com> wrote:

[2017-11-10 15:54] AJayBhimani74 opened #466 "No Image Display on emulator"
It asked me to set `disallowHardwareConfig()`
on glide.

[2017-11-16 07:03] bdzypcy opened #467 "Error:Unable to resolve dependency for ':app@withGPlayDebugUnitTest/compileClasspath': Could not resolve uz.shift:colorpicker:0.5."
Error:Unable to resolve dependency for ':app@withGPlayDebugUnitTest/compileClasspath': Could not resolve uz.shift:colorpicker:0.5.

[2017-11-28 10:08] #408 closed

[2017-11-28 10:10] #355 closed

[2017-11-28 10:10] #235 closed

[2017-11-28 10:10] #299 closed

[2017-11-28 10:12] #349 closed

[2017-11-28 10:13] #358 closed

[2017-11-28 10:13] #271 closed

[2017-11-28 10:13] #275 closed

[2017-11-28 10:16] #367 closed

[2017-11-28 10:16] #352 closed

[2017-11-28 10:18] dnldsht opened #468 "Improve zoom on fullscreen image"

[2017-11-28 10:19] #343 closed

[2017-11-28 10:19] #264 closed

[2017-11-28 10:20] #310 closed

[2017-11-28 10:22] #249 closed

[2017-11-28 10:22] #225 closed

[2017-11-28 10:23] #350 closed

[2017-11-28 10:24] #317 closed

[2017-11-28 10:24] #226 closed

[2017-11-28 10:24] #227 closed

[2017-11-28 10:25] #348 closed

[2017-11-28 10:26] dnldsht opened #469 "Enchante performnce loading images on Subsampling Scale Image View"

[2017-11-28 10:27] #463 closed

[2017-11-28 10:31] #208 closed

[2017-11-28 10:31] #356 closed

[2017-11-28 10:32] #332 closed

[2017-11-28 10:32] #289 closed

[2017-11-28 10:34] #331 closed

[2017-11-28 10:35] #366 closed

[2017-11-28 10:36] #201 closed

[2017-11-28 10:37] #365 closed

[2017-11-28 10:40] #397 closed

[2017-11-28 10:41] #381 closed

[2017-11-28 10:43] dnldsht commented on #467
unfortunately this project has no UnitTest

[2017-11-28 10:43] #467 closed

[2017-11-28 10:52] dnldsht commented on #466
I Launched the emulatr like this and it works.
[code]

[2017-11-28 10:58] dnldsht commented on #458
#433

[2017-11-28 10:58] #458 closed

[2017-11-28 10:59] #236 closed

[2017-11-28 10:59] #295 closed

[2017-11-28 10:59] #334 closed

[2017-11-28 10:59] #288 closed

[2017-11-28 11:00] #194 closed

[2017-11-28 11:00] dnldsht commented on #456
#270

[2017-11-28 11:00] #456 closed

[2017-11-28 11:02] #441 closed

[2017-11-28 11:02] #439 closed

[2017-11-28 11:02] #401 closed

[2017-11-28 11:03] #386 closed

[2017-11-28 11:03] #380 closed

[2017-11-28 11:03] #369 closed

[2017-11-28 11:03] #368 closed

[2017-11-28 11:03] #383 closed

[2017-11-28 11:03] #387 closed

[2017-11-28 11:04] #371 closed

[2017-11-28 11:04] #417 closed

[2017-11-28 11:23] #465 closed

[2017-11-28 14:30] rugk commented on #249
Does this mean it is fixed/implemented or what?

[2017-11-28 14:30] rugk commented on #140
Does this mean it is fixed/implemented or what?

[2017-11-28 14:31] rugk commented on #351
So it is fixed?

[2017-11-28 14:31] rugk commented on #332
Does this mean it is fixed/implemented or what?

[2017-11-28 14:31] rugk commented on #350
Does this mean it is fixed/implemented or what?

[2017-11-28 14:33] dnldsht commented on #249
Just cleaning out issues

On Nov 28, 2017 3:30 PM, "rugk" <notifications@github.com> wrote:

[2017-11-28 14:35] rugk commented on #249
So this is basically a "wontfix" (without giving any reason??)?

[2017-11-28 14:51] dnldsht commented on #249
Nope there was many duplicate issues for the zoom, I just removed them and
created a new one

On Nov 28, 2017 3:35 PM, "rugk" <notifications@github.com> wrote:

[2017-11-28 14:51] dnldsht commented on #332
This i s fixed in dev branch

On Nov 28, 2017 3:32 PM, "rugk" <notifications@github.com> wrote:

[2017-11-28 14:53] dnldsht commented on #140
I'm not looking to implement this in the near future

On Nov 28, 2017 3:31 PM, "rugk" <notifications@github.com> wrote:

[2017-11-28 14:53] dnldsht commented on #351
Will move images somewhere else

On Nov 28, 2017 3:31 PM, "rugk" <notifications@github.com> wrote:

[2017-11-28 16:13] rugk commented on #249
Okay, good, which one? (That's why if you close an issue, always add a an explanation. And if you create a new one or close it as a dupe, link to that issue.) Users subscribed to this issue may want to follow the new one.

[2017-11-28 16:15] rugk commented on #140
Okay, so why do you reopen it then? Do you want to mark it for contributors ("help wanted") or was this accidental?

[2017-12-01 14:50] matejdro opened #470 "App crashes when trying to share image on Oreo"
Running `v0.6-beta-1` from play store. Every time I try to share an image, it crashes with [FileUriExposedException](https://developer.android.com/reference/android/os/FileUriExposedException.html).

[2017-12-01 18:18] iNPUTmice commented on #470
I just tried LeafPic for the first time and ran into the same issue. Looking through the code I think this has been fixed in 024374baec3268f88c439ba2fc8a4fc42d086a78.

edit: Can confirm that dev branch does indeed fix the issue.

[2017-12-01 18:24] matejdro commented on #470
Wow that was quite a long time ago. Any chance we can get updated apk?

[2017-12-01 21:30] iNPUTmice commented on #403
FWIW this is fixed in current dev. I can still reproduce this issue with the beta version from Google Play. Not sure which commit exactly fixed this and why.

[2017-12-02 16:17] theblahblahmachine opened #471 "Missing icons?"
Just a couple of hours ago I compiled the apk from source and the icons don't appear in the sidebar not the settings menu. I compiled a debug version ( noGPlay) first and everything worked perfect but when I compiled the release version and there found this issue. I compiled all 4 versions ( Debug GPlay, Debug NoGPlay, Release GPlay, Release NoGPlay) and I found this issue only in the release cand

[2017-12-03 20:36] dnldsht opened #472 "Update ExoPlayer"
update [exo-player](https://github.com/google/ExoPlayer)  to 2.60 and solve change breaks

[2017-12-03 20:42] dnldsht commented on #471
can you rebuild with the last commit? are they just missing or they have the wrong color?

[2017-12-04 10:17] ghost commented on #471
Rebuilt with last commit as suggested. Issue still persists. They are missing, can confirm. Because even after changing theme, they still do not show up.

P.S: I'm no developer. I compiled the app from source because the released apk was outdated. But I haven't touched a single file so I doubt if there's any problem from my end.

[2017-12-04 10:54] dnldsht commented on #471
Are they all missing? Which android version are you using? Can you check if
the log give some useful info?

On Dec 4, 2017 11:17 AM, "Sai Praneeth Reddy" <notifications@github.com>
wrote:

[2017-12-05 07:34] ghost commented on #471
I have attached a log of error I get when I open the app and even the screenshots with all three themes to help you understand the problem better. Seems like some naming issue. I am running android version 7.1.2.

[adb.txt](https://github.com/HoraApps/LeafPic/files/1530047/adb.txt)

[screenshot_20171205-122746](https://user-images.githubusercontent.com/33492285/33594983-2f396cc4-d9bc-11e7-84cc-7ab

[2017-12-05 09:55] dnldsht commented on #471
can you build the last commit?

[2017-12-05 10:31] ghost commented on #471
No change.
adb logcat gives error : E Iconics : Wrong icon name: gmd_gif
plus multiple different names all starting with gmd_

[2017-12-13 11:27] tayyabahmad commented on #454
i was using the older version. the issue has been addressed in newer version. Thanks

[2017-12-13 21:13] Truffel71 commented on #470
Just wanted to report that the issue still exist.
I recently discovered this app and without this bug it will be great!!

[2017-12-16 14:03] CalvinNor opened #475 "Crash when resuming LeafPic in Media mode and pressing back"
LeafPic crashes when a user clicks on an album / folder, then minimizes the application. If the Activity is killed / Don't Keep Activities is enabled, the app crashes on back.

Here's the stack trace:

`
12-16 19:32:45.817 4061-4061/org.horaapps.leafpic.debug E/MessageQueue-JNI: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean org.horaapps.leafpic.adapters.AlbumsAdapter.se

[2017-12-16 14:04] calvinnor commented on #475
@dnldsht I'm working on this issue. Seems to be a problem with saving instance state.
Will raise a fix by EOD.

[2017-12-16 14:34] calvinnor commented on #475
@dnldsht Raised https://github.com/HoraApps/LeafPic/pull/476 for review.

[2017-12-17 08:24] Bugsbane opened #477 "Large delays when deleting images"
Whenever I delete images, it takes around 10 seconds or more *per image* to delete it, so if I try to delete say 30 images, the app locks up for around 5 minutes.

This is after giving the app permission to read/write my storage card. The stock gallery app, deletes the same 30 images off of the storage card in about 2 seconds.

I'm wondering if this may be related to issue #241, especially seeing

[2017-12-17 08:32] Bugsbane opened #478 "Forgets permission to write SD Card"
Most times when I try to delete images, Leafpic asks for permission to read and write the storage card by choosing the storage card root again, even if I've granted permission before.

To make matters worse, after I re-grant permission, it forgets the selection of pictures that I made before and that I asked for them to be deleted, so that whole process has to be repeated, too.

[2017-12-17 11:55] CalvinNor opened #479 "Feature Request: Image Tagging"
Allow the user to set tags on images.

Once done, a section in the application will allow him to view tags and then going into the tag allows him to view all images tagged with that name.

[2017-12-17 18:02] jojo313 opened #480 ""All Pictures" instead of the Folders as a sorting/filter option"
Hi, would love to see that option in the Hamburger menu or the filter menu. Basically like a single folder showing all pictures (maybe not the hidden folders) sorted by time taken.

[2017-12-17 18:08] dnldsht commented on #480
Already available in the dev branch.

Waiting for some improvements to the UI like group images by dates!
Follow #270 for more info.

[2017-12-17 18:08] #480 closed

[2017-12-17 18:10] Bajithelearner opened #481 "Error Importing Packages"
![capture](https://user-images.githubusercontent.com/20913054/34082382-22ebce14-e383-11e7-820c-8b7565d08189.PNG)
Sorry if this is newbie question, i already serched the web but didn't find any solution. i just started with github and imported this project but i am getting the error "can'nt resolve" , problem with importing packages. can anyone tell me what i am doing wrong?

I already tried restar

[2017-12-17 18:13] dnldsht commented on #481
Which version of AS are you using? have you tried Synch or Clean the project?

[2017-12-17 19:51] calvinnor commented on #475
@dnldsht Could you give me privileges to add tags / close issues?

This issue is fixed.

[2017-12-18 11:38] iambaji commented on #481
I am using latest version android 3.0.1, by Sync and Clean if you mean Ivalidate Cache/Restart,Clean Build Project,Rebuild Project, yes i did that

[2017-12-18 11:56] dnldsht commented on #481
you must try to re-import the project also check if you set the last version for gradle plugin

[2017-12-18 14:34] iambaji commented on #481
Solved
If i am not wrong, the AS 3.0.1 is creating  a ".idea" folder as a parent directory of all projects. earlier when was cloning the leafpic from github i haven't changed the parent directory path (one with .idea)
Now i again imported the leafpic but gave a different parent directory, and it is working fine. so i guess the problem is with the parent directory path. anyway, thank you 👍  @dnldsh

[2017-12-18 14:37] #481 closed

[2017-12-19 19:23] #475 closed

[2017-12-23 12:17] mittalharsh2810 opened #484 "Video and Gif not able to play"
When I click on video and gif images. I got an error and I checked the file that file is correct format. Error log is like this:

Attempt to invoke virtual method 'android.content.res.XmlResourceParser android.content.pm.ProviderInfo.loadXmlMetaData(android.content.pm.PackageManager, java.lang.String)' on a null object reference

[2017-12-23 17:17] calvinnor commented on #484
Hi Harsh! Thanks for using LeafPic :)

Could you upload the GIF / Video to either Google Drive or Dropbox and send us the link?
Also, which page were you on? Albums / All media / opened it from a file explorer?

[2017-12-24 03:31] harshmittal2810 commented on #484
Hello CalvinNor,
When I open Albums and Navigate to my video folder and try to open that video that time app crashes. I didn't check any other cases.

[2017-12-24 17:55] userRidae opened #485 "what is this methode : setScrollViewColor ??"
Could you explain to me what this methode do ?? I didn't find anything about it ... thanks in advance
https://github.com/HoraApps/LeafPic/blob/7ca89a0d167d8b5418040281886045cf4583fe74/app/src/main/java/org/horaapps/leafpic/activities/SettingsActivity.java#L97

[2017-12-25 11:59] iamjaspreetsingh opened #486 "Refreshing of camera folder photo while clicking a new picture using fab"
On enabling the switch of Show fab button, when I click on the fab to click pictures the pictures are captured although not showing on the home screen camera folder's icon
On refreshing it also, the image is not changed.
When I reopen the app, then image on camera folder changes to the newest one that was desired.

I would like to work on it.

[2017-12-26 10:18] dnldsht commented on #485
You can check it here
https://github.com/HoraApps/Liz/blob/master/library/src/main/java/org/horaapps/liz/ThemedActivity.java

On Dec 24, 2017 7:55 PM, "userRidae" <notifications@github.com> wrote:

[2017-12-26 12:21] sunil-singh-chaudhary opened #487 "Can't Play Videos and searchbar not working"
1.  i am trying to play video with MX-player but showing error can't play this but after enable from setting "Include internal Vidio Player" it  worked well pls check and the other thing i found is
2. Search Bar is not working

3. I can't found Gif easily

[2017-12-27 11:39] mohamedkhairy953 opened #488 "debug:orientation' not found."
Error:error: attribute 'org.horaapps.leafpic.debug:orientation' not found.

this error has appeared while building project in two file

LeafPic\app\src\main\res\layout\dialog_color_picker.xml

LeafPic\app\src\main\res\layout\dialog_media_viewer_theme.xml

[2017-12-29 18:37] calvinnor commented on #488
@mohamedkhairy953 Could you describe your issue further?

Are you having trouble in building LeafPic? Which git branch are you building?
Please provide more information so that we can assist you.

[2017-12-29 18:40] #485 closed

[2017-12-29 18:41] calvinnor commented on #471
@theblahblahmachine @dnldsht This issue seems to be fixed in 0.6 beta 2.

Could you verify and close the issue?

[2017-12-29 18:43] calvinnor commented on #454
@tayyabahmad @dnldsht This seems to be fixed in 0.6 beta 2.

Please verify and close the issue.

[2017-12-30 19:40] EmmanuelMess opened #489 "Even though you have glide, images aren't getting preloaded before I see them"
Even though you have glide, images aren't getting preloaded before I see them. In my Motorola Moto E Gen 2 I'm seeing white squeares of not preloaded images.
I don't think that my phone is slow, because I managed to make [AmazeFileManger's file adapter](https://github.com/TeamAmaze/AmazeFileManager/blob/master/app/src/main/java/com/amaze/filemanager/adapters/RecyclerAdapter.java) preload quite nic

[2018-01-01 00:36] AmrishJhaveri commented on #472
Hey, I would like to take up this open issue. Do you have any wiki of the process you follow for the project? Also by change breaks you mean line ending issues? Can you provide some more details?

[2018-01-01 09:51] dnldsht commented on #472
There is already a pull requests going on https://github.com/HoraApps/LeafPic/pull/483

[2018-01-02 03:05] AmrishJhaveri commented on #250
I would like to take this up. Any document on the process to be followed? On the README there is a develop branch link but redirects me to 404.

[2018-01-02 09:05] ghost commented on #471
I have compiled v0.7-alpha1, 15 and can confirm that the issue has been fixed. Thank you for your support. I'm closing the issue.

[2018-01-02 09:05] #471 closed

[2018-01-02 15:48] dnldsht commented on #250
The branch is called dev I forgot to change it in the readme.

Animations are in the recycler view, and on the view pager, so you should
look there.

On Tue, Jan 2, 2018 at 4:05 AM, Amrish Jhaveri <notifications@github.com>
wrote:

[2018-01-02 17:37] dikiaap commented on #395
It's in alpha now. https://github.com/HoraApps/LeafPic/commit/7ca89a0d167d8b5418040281886045cf4583fe74

[2018-01-02 22:57] AmrishJhaveri commented on #250
Thanks. Should the animation disable option be put in Settings/General or Settings/Media Viewer? or should the animation just be removed?

[2018-01-03 04:41] calvinnor commented on #250
@AmrishJhaveri I would have a toggle under "Advanced" settings which would disable all animations throughout the application.

Please find any other places where animations are prominent and decide upon their animators based on the toggle value.

[2018-01-05 12:25] suvDroid opened #491 "Black Screen issue while trying to open image from "All Media" option."
The screen goes black and the app becomes unresponsive when i try to open an image from "All Media" option. The android version is: "Nougat 7.0".

[2018-01-05 16:52] sohampandya00 opened #492 "instead of backbutton showing menu button in action bar"
when we click on album (local folder), sometimes it shows menu button in actionbar instead of backbutton.

[2018-01-05 16:54] dnldsht commented on #492
Are you on the dev branch?

On Fri, Jan 5, 2018 at 5:52 PM, sohampandya00 <notifications@github.com>
wrote:

[2018-01-05 16:57] sohampandya00 commented on #492
i did clone project from https://github.com/HoraApps/LeafPic.git

[2018-01-05 17:02] dnldsht commented on #492
Yeah, you. should be in the dev branch, check it out with `git branch`.

I also discovered that, trying to find out why!
Do you also have problems with done icon (when you are selecting) ?

On Fri, Jan 5, 2018 at 5:57 PM, sohampandya00 <notifications@github.com>
wrote:

[2018-01-08 18:21] olegazyx commented on #245
It's because app show several mount points
`/sdcard/Whatsapp` and `/storage/emulate/0/Whatsapp` etc.

[2018-01-11 09:44] ThePuff opened #493 "App stops working after re-opening"
When i press the home button, and come back to the app after a while, app stops working.

Sony Xperia Z3
Android 6.0.1
Not Rooted

[2018-01-13 07:02] xxvixxy opened #494 "Updates"
I am seeing no updates piblished since 10/10/2016, is this project still in development?

[2018-01-13 13:28] calvinnor commented on #494
@xxvixxy Hello, thank you for using LeafPic!

Yes, the project is still in development. You can check out some recent commits and WIP branches.

We're planning on establishing a release cycle for regular builds. We'll let you know when we do :smile:

Feel free to look around, suggest features, file bugs or anything that can help us make the application better :sunglasses:

[2018-01-15 18:08] farhad-kargaran opened #495 "can not delete file from sd card"
it seems app has not permission to sd card

[2018-01-15 18:09] farhad-kargaran opened #496 "image rotation"
images with orientaion does not display correctly

[2018-01-15 18:09] farhad-kargaran opened #497 "search not working"
search not working at all

[2018-01-18 12:43] ghost commented on #494
I installed, and will post any bugs if any come through. Take your time, and have fun! :)

[2018-01-19 19:08] StanioHrutc opened #498 "Translating"
Problem with translating all elements of list in menu -> parameters, only part of items are translating on ukrainian

[2018-01-19 19:14] StanioHrutc commented on #498
Hi guys, just catched this issue,  i haven't a lot of experience in open-source projects, how i can fix it?
![Screenshot_2018-01-19-21-00-21-622_org.horaapps.leafpic.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a61d5daaaed3200135a8af0/125516c66e82c728ace21e0d46db978826878dba87e6ab7cf60da1cc6416763e785dee7921c8b378f2102a4c595d4cc31e1a085aa4a6cb7af7f67c3394005ebc872d0627

[2018-01-20 14:51] StanioHrutc commented on #497
Sure, did u saw a hint when u're click on search icon

[2018-01-20 17:46] #492 closed

[2018-01-20 17:49] dnldsht commented on #498
you can translate them on [crowdin](https://crowdin.com/project/leafpic) give me your username after you sign-up I can set you as a translator!

[2018-01-20 17:49] #498 closed

[2018-01-20 17:49] dnldsht commented on #496
duplicate

[2018-01-20 17:49] #496 closed

[2018-01-21 05:39] calvinnor commented on #492
Could you point me to a document saying we should call super (onCreateOptions, onPrepareOptions) after our custom code?

[2018-01-21 10:05] dnldsht commented on #492
I found nothing that says to call it later, but in many stack overflow
questions they call them later

On Jan 21, 2018 6:39 AM, "CalvinNor" <notifications@github.com> wrote:

Could you point me to a document saying we should call super
(onCreateOptions, onPrepareOptions) after our custom code?

—
You are receiving this because you modified the open/close state.

Reply to this email directly, view

[2018-01-21 11:39] #472 closed

[2018-01-21 11:40] dnldsht commented on #487
1) is done
3) you can filter images by type

2) this has a very low priority

[2018-01-21 11:40] #487 closed

[2018-01-21 11:42] #488 closed

[2018-01-21 14:02] dnldsht commented on #495
are you using oreo?

[2018-01-21 14:04] farhad-kargaran commented on #495
no my android is 7.0
 I mean deleting files from sd card

[2018-01-21 14:06] dnldsht commented on #495
it asks you all the time to give permission for the sdcard right?

[2018-01-27 18:33] kapildeshpande opened #500 "Album selection tick is not appearing"
Sometimes while selecting albums selection tick is not appearing.
Device used Redmi note 3

[2018-01-27 19:13] dnldsht commented on #500
related to #492
are you using the dev branch?

[2018-01-28 05:37] kapildeshpande commented on #500
Yes

[2018-01-28 18:16] umair1209 opened #501 "Security password does not lock the application."
#### Expected behavior
When you set up a security password on an application, it will ask you to enter the password if you try to open it.

#### Actual behavior
When I tried to set up a security password to secure my data, it did turn on the security but when I closed the app and opened it again, it never asked me to enter a password.
I did this multiple times and got the same result.

#### How to

[2018-01-28 18:23] umair1209 opened #502 "Renaming a file does not work."
#### Expected behavior
When you change the name of a particular file, folder or photo, you should be able to see the new changed name straight away.

#### Actual behavior
I tried to rename a picture in my gallery using leafpic application and then clicked on rename again only to see that the name wasn't changed.

#### How to reproduce
- Open leafpic application
- Select a photo or file
- Rename it

[2018-01-28 21:58] dnldsht commented on #501
Actually that's the desired behavior it ask for the password only if you
try to open hidden folders, or delete something if you have set up them in
the settings

On Jan 28, 2018 7:16 PM, "umair1209" <notifications@github.com> wrote:

[2018-01-28 21:58] #501 closed

[2018-01-30 03:18] umair1209 opened #503 "App crashes while sharing a video"
#### Expected behavior
When you click on share video, we should be able to share videos on desired platforms.
#### Actual behavior
When you click on share a video option, the application crashes

#### How to reproduce
- Open a video
- Click on share option and the application will crash.

* Browser: Google Chrome for Android 63.0.3239.111
* Operating system:  Android 6.0.1

#### Recording Of The B

[2018-01-31 11:32] prakash1307 opened #504 "No Image Display after Rename the file"
**Expected behavior**

Open the Image file and Rename the file and press the back, then click on the renamed image, The Image should display.

**Actual behavior**

Open the Image file and Rename the file and press the back, then click on the renamed image, The renamed image is not displaying.

[2018-02-02 00:06] umair1209 opened #506 "Force use of accelerometer does not work"
#### Expected behavior
The LeafPic application has a feature through which you play videos in landscape mode even if your auto rotate feature is disabled.
Every application which has this feature enables users to view videos in landscape mode.
#### Actual behavior
When you turn the force use of accelerometer feature on, it does not work, that is you are not able to watch videos in landscape mode.

[2018-02-04 13:05] umair1209 opened #507 "Leafpic crashes when we are on a file manager and try to open pictures in leafpic."
#### Expected behavior
When you click on any photo in a file manager and try to open it in gallery, it should open the photo.
#### Actual behavior
I was on amaze file manager and I happened to click on a picture and tried to open it in leafpic gallery but the leafpic app crashed.
Then I opened the photo in local gallery and it worked.
I tried to open more pictures in leafpic and sometimes it worke

[2018-02-11 10:23] jonaskohl opened #510 "Cannot play video"
When trying to play a video with either the internal player enabled or disabled, the app just restarts to a blank album view.

[2018-02-12 00:46] brunocreation opened #511 "Erro edit contact photo"
I encountered an error while trying to edit a contact photo. Even if you select the photo in the gallery, it is not active in the contact.

[2018-02-12 00:51] #511 closed

[2018-02-12 00:52] brunocreation commented on #511
I had not given permission

[2018-02-12 20:10] #470 closed

[2018-02-13 17:19] raja-rizki opened #512 "My permission..."
Greetings, LeafPic team.

I would like to volunteer to be a moderator of Indonesian translation on this project, if you wish and allow me to advise, I will advise that:
1. very good if the translation in crowdin is launched to github. because many I found some members of the translator on the project crowdin tried to translate to github, not just on this project, many also happened to other projec

[2018-02-13 20:54] dnldsht commented on #512
you can approve the translation for Indonesian on crowdin, it 70% translated, hope you can moderate them well.
Thank you for the collaboration!
I will update then the strings on GitHub.

[2018-02-13 20:54] #512 closed

[2018-02-13 21:03] raja-rizki commented on #512
thanks you :+1:

[2018-02-14 08:53] christianryding commented on #479
i would like to work on this

[2018-02-14 12:10] dnldsht commented on #479
@christianryding can you tell me how are you gonna implement it?

[2018-02-14 14:14] TemporaryAccount0x1 opened #513 "crash due to a null object reference"
I'm using f02957610678eb085ea6e9a2c28603f21d95f904
it's hard to reproduce this crash but it happens every now and then.

What I did is click on an image repeatedly and then it crashed. Sometimes when I do it I get no crash.

stack trace:

`App has crashed, executing CustomActivityOnCrash's UncaughtExceptionHandler
                                                                                 jav

[2018-02-14 14:32] calvinnor commented on #479
@christianryding Hello!

You are open to help with your contribution.

However, it'd be best if you could think of a smart way and let us know about it, before you begin working. That'll save your time too :relaxed:

[2018-02-14 16:44] christianryding commented on #479
ok, i will be back with a concrete proposition soon

[2018-02-18 21:38] EmmanuelMess opened #514 "Use vectors instead of bitmaps for icons"
Use vectors instead of bitmaps for icons (inside res/drawables/).

[2018-02-18 22:33] EmmanuelMess commented on #514
Sorry, thought that the icons were in res/drawables/

[2018-02-18 22:33] #514 closed

[2018-02-23 22:34] akorb opened #517 "Drag for selection"
Just like in Google Photos.

Example: https://www.androidpolice.com/wp-content/uploads/2015/06/nexus2cee_qp.gif

Hold the preview image of a photo until it is selected and then start shifting across other images. They should be selected too. Just like using the Shift key on a desktop PC.

https://github.com/afollestad/drag-select-recyclerview might be helpful

[2018-02-26 08:34] #250 closed

[2018-02-26 08:35] #118 closed

[2018-02-27 19:55] GrPK opened #520 "SdCard"
Hey, I think that you already know that app is always asking for sd card write permission? Is there any way to fix it and make deleting faster? *I've read that you are working on it, but that was 6 months ago*. Thanks in advance!

[2018-02-27 20:12] Yasha08 opened #521 "Design Help"
Are you guys looking to redesign or improve current design?

I'm a UI/UX designer and would love to contribute. If you can point me to any other projects that is in need to UI/UX help, let me know.

[2018-02-27 20:29] dnldsht commented on #521
Not a complete redesign but some improvements, if you have an idea, please share!

I would love to redesign the video player to improve the UX and keeping a good UI

[2018-03-02 01:31] carusooo commented on #503
This appears to be fixed at HEAD (v0.7-alpha), I was able to repro using the Play Store version (v0.6-beta-1). Which version of LeafPic are you using?

[2018-03-02 07:07] calvinnor commented on #521
Hello @Yasha08, thanks for using LeafPic!

We would like to see your thoughts / designs.
Obviously, slight modifications here and there are a good way to start.

But feel free to let us know if you have some great ideas, we'd love your help :+1:

[2018-03-02 15:18] calvinnor commented on #513
@TemporaryAccount0x1 Hello, thanks for using LeafPic!

We'll begin looking for the cause of this issue.

Meanwhile, it would be helpful to us if you could provide your device info like:
- Android OS version
- Manufacturer (Samsung, LG, etc)
- LeafPic version
- Any specific steps to reproduce
- Any specific media that causes this crash

Thank you! :blush:

[2018-03-02 15:21] calvinnor commented on #510
@jonaskohl Hello, thanks for using LeafPic!

We'll begin looking for the cause of this issue.

Meanwhile, it would be helpful to us if you could provide your device info like:
• Android OS version
• Manufacturer (Samsung, LG, etc)
• LeafPic version
• Any specific steps to reproduce
• Any specific media that causes this crash

We've made some really good tweaks to the Video Player.
I'd encourage yo

[2018-03-02 16:27] TemporaryAccount0x1 commented on #513
Hello @CalvinNor
this is not necessary I'm certain this crash is caused by this call:
`subsampling.setOnClickListener(view -> ((SingleMediaActivity) getActivity()).toggleSystemUI());`

as of commit fe6a1adf74df6b5a5d8c8b63b071f8efc1eeabe4

that's line 61 in Class `ImageFragment`

Android Studio highlights `getActivity()).toggleSystemUI()` and when you hover over it, it says "method invocation 'tog

[2018-03-03 05:09] calvinnor commented on #513
@TemporaryAccount0x1 The problem you found is accurate, it's probably the Activity which is dead and detached from the Fragment, or some other issue, which is causing the NPE.

But it never hurts to have more information about the crash.

Some crashes are reproduced only on certain Android versions & device makes due to SDK changes, so it'll be helpful to analyse the crash further with more data.

[2018-03-03 07:51] miladr0 opened #524 "how can Construct MediaStore URI for specific folder search"

[2018-03-03 07:53] miladr0 commented on #524
i just want to show "example folder" as root of my gallery not whole sd card media
`
Query.Builder query = new Query.Builder()
                .uri(MediaStore.Files.getContentUri("external"))
                .projection(Album.getProjection())
                .sort(sortingMode.getAlbumsColumn())
                .ascending(sortingOrder.isAscending());

        ArrayList<Object> args = new ArrayList<

[2018-03-03 12:34] jonaskohl commented on #510
* Android OS Version: 7.0
* Manufacturer: HUAWEI
* LeafPic Version: v0.6-beta-1
* Steps to reproduce: Go into a folder with a video, try to play the video
* Happens with any video file

[2018-03-04 12:29] dnldsht commented on #524
If I understood well it should look like this:
[code]

so the query will be like `SELECT ... FROM ... WHERE _data LIKE %/folder_name/%`

[2018-03-04 12:29] #524 closed

[2018-03-05 02:14] macarus0 opened #525 "Resolution shows as ¿x?"
Image resolution is showing as ¿x? for all images on my phone and on emulator.

I added a check to load the height/width from EXIF if the call to BitmapFactory didn't set width/height properly, but that doesn't resolve the issue when images do not contain EXIF data.

Any thoughts on what could be causing this? I am happy to chase down any ideas and try to make a fix :)

![screenshot_1520215900](ht

[2018-03-06 20:37] umair1209 opened #526 "App crashes when we try to rotate gifs"
#### Expected behavior
The application should rotate the gif as we command it or should just say this feature is not available yet if it isn't released.

#### Actual behavior
I tried rotating the gif file and suddenly the application crashed.
This bug works on gif only and although the feature is unreleased but that should not lead to the crashing of app.

#### How to reproduce
- Open LeafPic
- Se

[2018-03-09 15:26] calvinnor commented on #526
@umair1209 Thanks for reporting this issue!

It is reproducible with any GIFs, we are actively working to fix it! :)

[2018-03-10 06:47] calvinnor commented on #493
@ThePuff Hello :)

We've fixed a bucketload of crashes and bugs recently, we'd like you to try out the latest version of LeafPic and let us know if we've fixed the issue for you.

You can either
1. Clone the repo and make a build
2. Wait, and we will alert you when we're ready for a new release

Thank you for reporting this issue and using LeafPic!

[2018-03-10 12:10] calvinnor commented on #526
Fixed in #528

[2018-03-10 12:10] calvinnor commented on #513
Fixed in #528

[2018-03-10 14:23] TemporaryAccount0x1 commented on #513
@CalvinNor thanks.

btw you can close issues by using one of the keywords in a commit or pull request see:
https://help.github.com/articles/closing-issues-using-keywords/

[2018-03-10 14:23] #513 closed

[2018-03-10 14:38] TemporaryAccount0x1 commented on #357
Any progress on this crucial feature? It is still not implemented yet.

[2018-03-13 18:04] #526 closed

[2018-03-16 14:15] #454 closed

[2018-03-16 14:17] calvinnor commented on #403
Marking as fixed.

[2018-03-16 14:17] #403 closed

[2018-03-16 17:34] waterboy550 opened #530 "Draw Circle On Picture With Touch, Image View"
When viewing an image I would like to have a touch option added to draw circles for each single touch of the finger. I have this almost working, but can't seem to get the circle to draw on a surface object I added that is loaded over top of the image when viewing a single image file. Any thoughts or anyone want to try and help? I can provide more details if needed.

[2018-03-17 00:59] #530 closed

[2018-03-17 07:20] calvinnor commented on #398
@d4rken Thanks for reporting this issue!

I've fixed a bunch of crashes lately, including ones where LeafPic crashes when resuming from background.
We'd love you to either build LeafPic from source, or wait for our next release!

Btw, awesome job with SD Maid :+1:

[2018-03-17 07:21] CalvinNor commented on #398
#493

[2018-03-19 12:08] rudiansyah1996 opened #531 "Bug in LeafPic App: delete photo not working"
#### Expected behavior
I want to delete the photo via LeafPic application, but when I delete it poto is not also deleted, many times I delete it is also not deleted, which should after pressing delete button automatically deleted by itself poto.

#### Actual behavior
delete photo in leafPic application does not work. when I want to delete poto delete button does not work, I have repeatedly pressed

[2018-04-01 09:15] TakuCoder commented on #531
is the file is still available in the storage? or it deleted and failed to refresh the view?

[2018-04-03 00:29] sujithTSR commented on #502
Unable to Delete the file which was tried to rename.

[2018-04-03 08:57] aivarsV opened #532 "Rotated images does not show up correctly"
Hi!
Thank You for this great open source project.

Images that have rotation property attached show up correctly in folder view, but are without rotation, when viewing single image in full screen.
If it helps, I have a Samsung Galaxy A3 2017 with Android 7.0.

Would be nice if this could be fixed.

[2018-04-03 20:45] PeerzadaZeeshan opened #533 "While sharing something after selecting item, it gets stopped."
#### Expected behaviour
Want to share something after selecting the item. It must to be share with whom i want.

#### Actual behaviour
When i select any item and refresh the page then want to share it, it gets stopped.

#### How to reproduce
Install app from f droid.

Open app, it shows some folders of gallery.

Open any one.

Then select any image.

Refresh the page by dragging page from top to b

[2018-04-03 20:51] PeerzadaZeeshan opened #534 "Zoom feature is not working after cropping image in LeafPic."
#### Expected behavior
After cropping image, want to zoom it by dragging two fingers or by double tapping on image. It must be able to zoom the cropped image.

#### Actual behavior
After cropping image, when i tried to zoom it, it is not working.

#### How to reproduce
Install app from f droid.

Open it.

Open any folder.

Crop the image through its edit feature.

Save it.

Then zoom upon cropped

[2018-04-04 15:42] calvinnor commented on #533
@PeerzadaZeeshan Hello, thank you for reporting the bug!

It seems that this issue does not exist in the latest version.

We will notify you when a newer version is available.
Thank you for using LeafPic! :smile:

[2018-04-04 15:46] calvinnor commented on #534
@PeerzadaZeeshan Hello, thank you for reporting this bug!

It is reproducible on the latest version, as per your steps to reproduce.

However, it could be due to the image being small enough to disable zooming.

@dnldsht Could you confirm if this is the expected behaviour?

[2018-04-04 15:59] calvinnor commented on #532
@aivarsV Hello, thanks for spotting this bug!

This is reproducible in the latest version of LeafPic.
I'll look around for a fix, and get back to you when we release a new build with this fixed.

Thank you :smile:

[2018-04-04 16:17] calvinnor commented on #532
@dnldsht Raised #535 for merge. This fixes the mentioned issue.

[2018-04-04 23:39] PeerzadaZeeshan opened #538 "App crashes when i tried to open bigger sized folder."
#### Expected behavior
Upon clicking on bigger sized folder to open. It must able to open folder.

#### Actual behaviour
When i tried to open bigger sized folder, app crashes.

#### How to reproduce
Install app from f droid.

Open app.

Click on folder containing bigger sized images.

It will crash while clicking on folder.

* Browser: LeafPic[Beta]
* Version:0.6-Beta-1
* Operating system:5.1.1

#

[2018-04-05 18:42] umair1209 opened #539 "Rate app option is not functional"
#### Expected behavior
Clicking on rate app option should take us to the play store and let us rate the application.

#### Actual behavior
When I clicked on the rate app option, it didn't take me to play store.
Clicking on rate option won't take you anywhere.

#### How to reproduce
- Open leafpic
- Click on about
- Click rate and you will see the option is not functional.

* Application: LeafPic v

[2018-04-07 03:05] calvinnor commented on #538
@PeerzadaZeeshan Hello, thanks for reporting this!

It's a little difficult to identify the actual cause of the crash at your end.
We're guessing it's an Out Of Memory problem, since you did specify that it's a large album.

But it could be some other issue lurking in our code.

Could you possibly reproduce the issue and grab a logcat for us? Would be very helpful to assist you that way.

When Lea

[2018-04-08 09:59] kodeblacc opened #540 "Unable to view a picture sent via Bluetooth with Leafpic gallery app"
#### Expected behavior
I expected that I'd be able to open a picture file sent via Bluetooth with the app.

#### Actual behavior
After I sent a picture from another phone and tried to view it with leafpic, a blank black screen is shown.

#### How to reproduce
- download the app from google play store
- launch app and allow all permissions
- send  picture via Bluetooth
- Opt to open file with leafp

[2018-04-08 11:30] Hubcapp commented on #531
Still available in storage. It's on the SD card, app has all the permissions it's asked for.

[2018-04-08 11:33] Hubcapp commented on #495
leafpic only asks for the "storage" permission, which it has. android 7.1, version from f-droid.

[2018-04-10 14:44] HowlingMind commented on #531
I believe this has to do with SD Card permissions. Delete worked for me off of internal storage, but when I moved the pics to my SD Card, I was getting this same behavior.

[2018-04-10 14:56] Hubcapp commented on #531
I opened a root terminal on my phone and "chmod -R 777" to the folder, but it still didn't work. Frustrating.

I am able to use Amaze file manager to delete files on SD card, so it is an application error, not permissions.

[2018-04-10 15:08] calvinnor commented on #531
It seems (from your discussion) that you can't delete media when it's on the SD Card.

I'll have a look at this when I get the time.
Thanks guys for your findings and reports!

[2018-04-11 14:14] ms10398 opened #541 "Enable, Disable internal video player option fastly crashes the app"
<div class="Body Body--full"><div><h4>Expected behavior</h4>
<p><strong>Internal video player</strong> option should work when enable and work according to it. And stopped working when we disable it or repeat the same steps any no. of times.</p>
<h4>Actual behavior</h4>
<p>When we enable the <strong>Internal video olayer option</strong> and then disable it and repeat this process will crash the ap

[2018-04-11 14:15] the-codingninja commented on #541
This issue was reported by @rockstar96969696

And I found a similar issue closed here -

https://github.com/HoraApps/LeafPic/issues/405

[2018-04-11 14:31] evisored opened #542 "LeafPic : App Crash when opening"
#### Expected behavior
Clicking on the app icon on emulator android i should be able to open and navigate within the application.

#### Actual behavior
When i clicked to open, the app crashed. and directly, I receive the message "Unfortunately, LeafPic has stopped".

#### How to reproduce
1. Download LeafPic Gallery
2. Launch

* LeafPic version v0.6-beta-1
* Android Emulator Version

![Nox emulato

[2018-04-13 04:07] DannyThompson commented on #525
I opened a PR on this that you can find here:  https://github.com/HoraApps/LeafPic/pull/543 Essentially, we just need to get the Media's bitMap info. Since for some reason Media.getBitMap is annotated as Deprecated, I handled it by passing the media through to the Metadata, and handling it this way.  If you can come up with a more elegant solution, be my guest! Just thought I'd suggest a fix for n

[2018-04-14 06:04] calvinnor commented on #541
@ms10398 Hi Mohit!

This option has been removed as of 0.7 (unreleased), probably why #405 was closed without comment.
It has been replaced with a lot of rework and a better video player.
Will update you on this when we're ready for release, so that you can verify if we fixed your issue.

Thanks!

[2018-04-18 08:29] zhao-gang commented on #525
@DannyThompson Hi, I am also trying to fix this bug in #544 :-) My solution is passing a fresh new input stream to BitmapFactory.decodeStream(), since the function can't parse the input stream already used by ImageMetadataReader.readMetadata().

[2018-04-23 00:11] aaronallenCS commented on #517
I would close this issue as this functionality has already been implemented.

[2018-04-23 21:12] bytestreamer opened #550 "Logo design contribution"
Hello,
I would like to make a contribution by making a new logo/branding with new colours and icons.

Please let me know if you need any help.

[2018-04-24 10:30] g1lg1l commented on #550
Hey there!
I love the logo, really cool! Especially the first one!
You are welcome to contribute!:)
Cheers!

[2018-04-24 14:58] calvinnor commented on #550
Amazing logos!
Particularly love the middle one :heart_eyes:

[2018-04-24 19:14] dnldsht commented on #550
Great job!
We needed these logos, the form factor is perfect, I would just keep the leaf proportionate with the text for the logos on the left.

Do you want to improve also the launcher icon?

[2018-04-24 19:15] #517 closed

[2018-04-24 19:17] #521 closed

[2018-04-24 19:22] dnldsht commented on #506
Actually that's the right behaviour, force accelerometer works when you are seeing pictures in full screen (the view before you click play), in the video player there is a button on the toolbar that toggle the orientation that is more convenient

[2018-04-24 19:35] dnldsht commented on #503
Closing as dup and fixed in dev

[2018-04-24 19:35] #503 closed

[2018-04-24 19:52] bytestreamer commented on #550
You are welcome.
Soon, I am going to add some more variations of the  logo and also the launcher icon as well.
Work in progress...

[2018-04-24 23:08] bytestreamer commented on #550
Hello again,

Please check some drafts for the logo and the icons attached below.

Please let me know if there are any amendments (logo shape, font, icons and colours).

![leafpic drafts-03-03](https://user-images.githubusercontent.com/38607597/39218417-8bda691e-481c-11e8-8511-051081fa3c4b.jpg)

[2018-04-26 05:42] dnldsht opened #552 "We need Testers"
Hi there,
Do you wanna help us? We need a few people that test alpha releases of LeafPic, this way the next release will be more stable and reach the 1.0 as far as possible.

We have created a Telegram group if you want to join send me an email.

[2018-04-26 19:13] dnldsht commented on #351
pictures now are stored inside tha app

[2018-04-26 19:13] #351 closed

[2018-04-26 19:15] dnldsht commented on #525
fixed by #544

[2018-04-26 19:15] #525 closed

[2018-04-26 19:24] #494 closed

[2018-04-26 19:26] dnldsht commented on #484
may i know somthing more about you device?
does it happen on both video and gifs? or just video?

[2018-04-29 03:05] aaronallenCS commented on #539
I have since fixed this issue... closing the issue i would think is necessary

[2018-04-29 14:01] TemporaryAccount0x1 opened #554 "[dev] Scroll position in album view isn't saved"
When you open leafpic it shows your albums, if you scroll down and go into an album and then press back the scroll position is reset to the top.
Interestingly this behaviour only happens for the album view but not for the images view so if you go into an album and scoll down and then go into an image and then press back the position is saved.
So the position is saved for media but not for albums.

[2018-05-02 13:40] jmtengang opened #556 "Execution failed for task ':app:transformClassesWithInstantRunForNoGPlayDebug'."
Hi, Can you help me please. When I build the project, I have this error: Execution failed for task ':app:transformClassesWithInstantRunForNoGPlayDebug'.

[2018-05-02 15:39] #539 closed

[2018-05-02 15:51] imranchowdhuryiut opened #557 "Memory Leak"
BlackWhiteListActivity leaked 98kb.
![screenshot_2018-05-02-21-33-40-285_org horaapps leafpic debug](https://user-images.githubusercontent.com/23313371/39535016-af2f9a18-4e54-11e8-8f10-6ba7ab4080fa.png)
![screenshot_2018-05-02-21-33-48-694_org horaapps leafpic debug](https://user-images.githubusercontent.com/23313371/39535018-af7b8040-4e54-11e8-8bef-b2db3d71547c.png)

[2018-05-02 15:56] imranchowdhuryiut commented on #557
BlackWhiteListActivity leaked 98kb.

[2018-05-02 23:33] aaronallenCS commented on #556
Follow these steps from this [stack overflow post](https://stackoverflow.com/questions/48738413/how-to-solve-errorexecution-failed-for-task-apptransformclasseswithinstantr):

To solve this, go to File->"Invalidate Caches / Restart..." and clean your caches and restart Android Studio. Wait to rebuild gradle is finished. After go to Build->Clean Project and finally go to Build->Rebuild Project.

[2018-05-02 23:35] aaronallenCS commented on #554
could you have a video showing an example? Then I could attempt solving this issue.

[2018-05-03 17:33] jmtengang commented on #556
Please, I Invalidate cahes and restart, clean the project and rebuild it. When I make the project, or build the project, or rebuild the project, Gradle build finished without error, but when I run or debug app, Gradle build ends with five errors:
Error:java.lang.RuntimeException: com.android.build.api.transform.TransformException: java.lang.RuntimeException: java.lang.RuntimeException: java.io.IOE

[2018-05-03 22:25] dnldsht commented on #556
try to disable instant run.

[2018-05-03 22:59] jmtengang commented on #556
Thanks dnldsht, it works now!!!

[2018-05-03 23:02] #556 closed

[2018-05-04 19:28] #557 closed

[2018-05-05 07:46] TemporaryAccount0x1 commented on #554
@beastlyCoder

I can't make a video but I can give you some Screenshots:

1. when I open Leafpic I see this (this is the starting scroll position):
https://imgur.com/a/c9QQQbI

2. then I scroll down a bit:
https://imgur.com/a/xDw6S7D

3. now I go into the album "Test (5)":
https://imgur.com/a/xILuKOC

4. I press back:
what actually happens is that the scroll is reset to the starting position:
http

[2018-05-05 09:49] #318 closed

[2018-05-05 10:24] ghost commented on #552
This looks like a great opportunity for me. I have recently started with Android Dev and something like this would be great for upgrading my skills.

[2018-05-05 11:10] princekelly1 opened #561 "Request for copywriting"
Hi, I use your project and would love to contribute to its development by writing a FAQ section, about us and privacy policy for the project to be merged into the documents of the project and added to the app for users. This would definitely improve the project and help users.

[2018-05-05 12:20] calvinnor commented on #561
@princekelly1 Hello!

Since we're open-source and don't send / receive any user info over the internet, I don't know if we really need a Privacy Policy.

However, an FAQ section & About Us seems like a really good plan. @dnldsht What do you think?

Thanks for your inputs, we'd love to see your contribution to the project :)

[2018-05-05 12:21] princekelly1 commented on #561
Hi
Thanks, I would make a pull for about us and FAQ soon, for yout review

On May 5, 2018 1:20 PM, "Calvin Noronha" <notifications@github.com> wrote:

[2018-05-05 16:47] dnldsht commented on #534
yeah the cropped image is just too small

[2018-05-05 16:47] #534 closed

[2018-05-05 16:49] dnldsht commented on #500
this should be fixed check again the dev branch

[2018-05-05 16:49] #500 closed

[2018-05-05 16:54] #541 closed

[2018-05-05 16:54] #542 closed

[2018-05-05 16:55] #493 closed

[2018-05-05 16:55] #538 closed

[2018-05-05 16:57] dnldsht commented on #520
closing as duplicate of #478
I promise i will look into it, i just got no devices with sdcard

[2018-05-05 16:57] #520 closed

[2018-05-05 16:59] dnldsht commented on #477
made it async also shown progress #558

[2018-05-05 16:59] #477 closed

[2018-05-05 17:00] #234 closed

[2018-05-05 17:02] the-codingninja commented on #541
Thanks @CalvinNor :slightly_smiling_face:

[2018-05-05 17:28] ka223 opened #562 "File sorting broken - files missing"
Hi,

I recently found this gallerie app.

File name example:
IMG_20180127_235630.jpg

Sorting after name or date seems not working, I can not find anything.

The LeafPic menu says 954 files, but thee are 2374 files ...

PlayStore version 0.6 beta 1
9.10.2016

Please fix, Thanks

[2018-05-06 06:52] ka223 commented on #562
... found the alternative media provider option.

This seems to fix it.

[2018-05-06 06:55] calvinnor commented on #562
Hi, thanks for pointing this out, as well as the workaround!

We'll have a look into what makes this behaviour happen, and figure out how we need to improve.

Thanks for using LeafPic! :)

[2018-05-06 07:23] ka223 commented on #562
For the record. I am using android 7.0 and I need to activate Sub Scaling too, otherwise viewing seems to be very slow.

I hope we can receive an update soon, last release is from 2016?

Thanks for developing this app.

[2018-05-06 07:47] ghost commented on #154
I was checking this issue, and I think this is fixed now.
I am able to open the crop view via LeafPic and set it as the contact pic of a contact. Is that whats expected from the feature request ? If yes we could mark this as done ?

![screenshot from 2018-05-06 17 42 47](https://user-images.githubusercontent.com/38718385/39671101-3d5a35d4-5155-11e8-8907-8790d6d32b54.png)
![screenshot from 2018-05-

[2018-05-06 20:39] robocop98 opened #564 "Print (to printer) not working"

[2018-05-07 01:18] ghost commented on #564
Thanks for logging the issue.
Could you please share the screen shots via any public image hosting sites like - https://imgur.com/upload

[2018-05-07 14:59] robocop98 commented on #564
Thanks @nikitasharma536, will remember about public image hosting, but for now will add a logcat excerpt instead. As I can also not attach the log file, I will paste in the content in next comment :)

[2018-05-07 15:00] robocop98 commented on #564
[code]

[2018-05-10 02:33] DeadKing007 commented on #552
I would be happy to test it.

[2018-05-10 02:41] TacoTheDank commented on #552
already in it lol

[2018-05-10 06:08] rancidfrog commented on #552
If you post alpha apks in release section a lot of users will be trying it out.
https://github.com/HoraApps/LeafPic/issues/244
https://github.com/HoraApps/LeafPic/issues/395
https://github.com/HoraApps/LeafPic/issues/494
https://github.com/HoraApps/LeafPic/issues/149

More users will be testing.
As of now, users probably think development is dead as they see last release was 2016.
If they see curr

[2018-05-10 08:19] calvinnor commented on #552
@rancidfrog Thanks for the suggestion!

We'll definitely think about a beta test later.
For now, we're trying to keep a closed group of testers where everything is under our control.
So that we can grab logs, reports and fix them without wondering where / who / how the issue was caused :)

[2018-05-10 09:48] TemporaryAccount0x1 commented on #552
hello I would like to help but I can't join the testing group since telegram has limited my account for some reason. I tried appealing using the spam bot last week but it didn't work. Is there some other way I could help ?

[2018-05-15 14:01] crysports opened #569 "Install shortcut option is not functional"
When we install a shortcut and try to open images from there, the application crashes.

[2018-05-15 18:53] Mizhek opened #570 "Scrollbar color"
Scrollbar color is always red no matter what accent color is being used.
![photo_2018-05-15_21-52-50](https://user-images.githubusercontent.com/28500568/40077437-557fdfd8-588a-11e8-9aa1-e91ab0b42fd9.jpg)

[2018-05-16 14:37] Mizhek opened #572 "Unable to move or copy multiple images."
When multiple images are selected "Copy to" and "Move to" options don't do anything.
version v0.7-alpha-1
![img_20180516_173337](https://user-images.githubusercontent.com/28500568/40123680-6e736f82-592f-11e8-96f2-58b754e9b9d4.jpg)

[2018-05-16 15:23] Mizhek opened #573 "Deleting albums doesn't work"
Trying to delete one or more albums doesn't do anything.
version v0.7-alpha-1

[2018-05-17 07:06] KooYS opened #574 "i am korean, I want to translate the contents of string.xml into Korean."
I am a user of this app.
I want to translate string.xml to Korean for Korean.

Can I translate without the use of Crowdin?

[2018-05-18 17:15] calvinnor commented on #270
@dnldsht I suppose we can close this now? (After 2 long years)

Or do you want to wait to stabilise it and remove the Debug flag, and then we'll close?

[2018-05-18 23:03] nissa-sabyan opened #576 "App crash when launching firstly on android 4.4.4"

[2018-05-19 12:21] Icramss opened #577 "Crash when launching V0.6-beta-1"

[2018-05-19 12:54] crysports opened #578 "Sharing a video while it is playing crashes the app"
I opened a video and played it through the leafpic video player.
Then I tried to share the video but the application crashed.

#### How to reproduce

- Download the app from [here](https://play.google.com/store/apps/details?id=org.horaapps.leafpic) or [here](https://f-droid.org/app/org.horaapps.leafpic)
- Open a video folder
- Open a video and start playing it
- Click on share option
- The app wil

[2018-05-20 03:49] CalvinNor opened #579 "App Crash on back press from Media > Albums > Back when app killed in background"
Build version: v0.7-alpha-1
Current date: 2018-05-20 09:16:36
Device: OnePlus ONEPLUS A5010

Stack trace:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean org.horaapps.leafpic.fragments.AlbumsFragment.onBackPressed()' on a null object reference
	at org.horaapps.leafpic.activities.MainActivity.onBackPressed(MainActivity.java:539)
	at android.app.Activity.onKeyUp(Activity.ja

[2018-05-20 09:05] dnldsht commented on #395
created a milestone and will continue to do that

[2018-05-20 09:05] #395 closed

[2018-05-20 16:09] #579 closed

[2018-05-22 02:25] ztwe opened #580 "build failed"
android studio：com.android.tools.build:gradle:3.1.2
sdkVersion：27
gradle：4.4

versionName："v0.7-alpha-1"

Caused by: java.lang.IllegalAccessException: no such method: org.horaapps.leafpic.about.AboutCreator.lambda$setupListeners$0(ContactListener,String,View)void/invokeStatic

[2018-05-24 04:06] #574 closed

[2018-05-24 04:11] calvinnor commented on #574
@KooYS Hey, welcome to LeafPic :)

Thanks for putting forth your contribution idea, but I'm not familiar with translations.

@dnldsht would help you, sorry for the late reply! :blush:

[2018-05-24 08:11] maliksajad12 opened #581 "App crashes when I click on option (open with) in LeafPic Gallery."
Expected behavior

When I opened the LeafPic Gallery opensource Android app after I open video then I click on more option wants to open this app with open with option it must work and I must be able to open any video through open with any platform.

Actual behavior

I opened the LeafPic free opensource Android app after I open video in this gallery then I try to open video with open with any othe

[2018-05-25 13:08] arya-ayush commented on #507
I have tested this issue on mi5 and there is no such issue on my phone. It is working nicely.

[2018-05-26 20:27] horpeyloaded opened #583 "Rate Button not working in About page"
#### Expected behavior
When the *Rate button* is clicked, it should open the The app rating on playsore so users can rate the App.

#### Actual behavior
When the rate button is clicked it does nothing

#### How to reproduce
  - Open the App
  - Click the Menu button on the top left
  - Select about
  - Stroll down to support development
  - click the **Rate button** from the list
***
* App version

[2018-05-26 22:41] John-Nagle opened #584 "App crashes on video play with no Google services"
Attempting to play video from the camera crashes the app every time. Phone uses F-Droid, no Google services, and Google Play Services are disabled. LeafPic should not require Google services.  Android 7.1.2,

[2018-05-30 07:03] lkd70 opened #585 ""Access by password" stays toggled on "Password doesn't match""
## Description
When changing or adding a password under `Settings -> Security -> Access by password` if the "passwords doesn't match" error is given, the Access by password toggle remains active.

## Steps to reproduce
1. Access the settings menu in Leafpic And select the 'Security' category.
2. Activate the "Access by password option (must be previously in an off state)
3. Enter one of the codes,

[2018-05-30 12:29] #585 closed

[2018-05-31 16:36] #577 closed

[2018-05-31 17:04] lkd70 opened #588 "externally opened videoes cause non transparent & underlapping player design"

[2018-05-31 17:19] lkd70 opened #589 "Opening media in "split screen" view shows odd offset on control-bar"

[2018-05-31 17:29] lkd70 commented on #589
## Description
When opening an image whilst using the app in Split Screen mode - top control bar/header shows an offset to the top of the split screen

### Steps to reproduce
1. Open the app
2. Open 'Recents' in android (usually next to the home button)
3. Hold and drag another (non LeafPic) app to the 'Drag here to use split screen' header.
4. Open LeafPic in the bottom of the split screen
4. Ope

[2018-05-31 18:44] dnldsht commented on #588
The `ViewPager` (the activity when you can scroll images) is different from the `VideoPlayerActivity` this explain the not transparent bars.

I don't know if is a good idea to move the `VideoPlayer` in a Fragment and show it in the ViewPager..
@CalvinNor  would love to hear your thoughts on this.

Edit: for the overlapping issue would be easy to fix!

[2018-06-01 15:35] Temidtech commented on #583
@horpeyloaded i have fixed this issue.

[2018-06-03 20:15] #573 closed

[2018-06-03 20:17] #583 closed

[2018-06-03 20:20] dnldsht commented on #580
The method exits.

you can try
- pull changes
- clean the project
- be sure you have java8

[2018-06-03 20:20] #580 closed

[2018-06-03 20:22] dnldsht commented on #576
no description given! it should work on dev!

[2018-06-03 20:27] #531 closed

[2018-06-03 20:28] #433 closed

[2018-06-03 20:34] #466 closed

[2018-06-06 14:40] #140 closed

[2018-06-06 14:41] #188 closed

[2018-06-06 14:41] #192 closed

[2018-06-06 14:42] #210 closed

[2018-06-06 14:42] #257 closed

[2018-06-06 14:44] #398 closed

[2018-06-06 14:48] #259 closed

[2018-06-06 14:48] #311 closed

[2018-06-06 14:48] #327 closed

[2018-06-06 14:48] #237 closed

[2018-06-06 14:51] #484 closed

[2018-06-06 14:52] #584 closed

[2018-06-07 21:22] skanga opened #591 "Can this cast images/videos to a TV via DLNA? or to a Chromecast dongle? Can this be added?"

[2020-02-21 04:26] tuanvn91 opened #604 "App crashes on android Q"
public static String[] getProjection() {
		return new String[]{
				MediaStore.Files.FileColumns.PARENT,
				MediaStore.Images.Media.BUCKET_DISPLAY_NAME,
				"count(*)",
				MediaStore.Images.Media.DATA,
				"max(" + MediaStore.Images.Media.DATE_MODIFIED + ")"
		};
	}

that code above no longer work on android Q, please fix it

[2020-03-30 10:13] Grandolf49 opened #605 "Redundant typecasts in several activities"
**Summary**

Throughout the app, in all *Activity.java files there are redundant type casts.
For. eg: In AffixActivity.java file, the following line
[code]

**Expected Behaviour**

Typecasting views is not required.

[2020-04-08 21:36] karthik2342323 opened #607 "Unable to delete file on SD Card"

[2020-04-09 16:29] goforbg commented on #570
Worked on this and quickly making a pull request.

[2020-04-09 18:57] #605 closed

[2020-04-14 21:18] mohitshah3111999 opened #609 "Image clicking button"
I am not getting the point behind hiding the floating action button on main_activity and why only it must be in portrait mode only? It appears only if we change the mode of our phone from portrait to landscape and then after landscape to portrait. I think It must be there for all time.
![20200415_024139](https://user-images.githubusercontent.com/42018918/79275231-6d8e8280-7ec3-11ea-8acc-a52ca34186

[2020-04-15 07:44] gspeiliu opened #610 "libs version change"
I checked the configuration of implementation and found that the change of the version of one lib was not consistent. Could you please tell me why?
The specific implementation: implementation 'com.github.HoraApps:Liz:-SNAPSHOT'

Version change trace is -SNAPSHOT -> 0.5.4 -> -SNAPSHOT
Why does the version change in this trace?
Thanks

[2020-04-20 18:20] coderspacedev commented on #604
I'm facing same problem IlligalException invalidate column count(*)

[2020-05-02 10:15] ahtabbasi commented on #572
Hi

I have started work on this at https://github.com/ahtabbasi/LeafPic/tree/move-copy-multiple-images
This is my first contribution ever so let me know if I need to take some additional steps.

Thanks.

[2020-05-02 12:06] dnldsht commented on #572
Hi, I see no new commits on that Branch

On Sat, May 2, 2020, 12:15 PM Ahtsham Abbasi <notifications@github.com>
wrote:

[2020-05-02 12:32] ahtabbasi commented on #572
I am just starting. I will make commits as work progresses.

[2020-05-02 18:30] dnldsht commented on #572
When you are done submit a pull request, I will be glad to review and merge.

On Sat, May 2, 2020, 2:32 PM Ahtsham Abbasi <notifications@github.com>
wrote:

[2020-05-28 18:05] adam-poteralowicz commented on #581
I couldn't reproduce this issue. More information (like device Android version, LeafPic build version) would be needed to proceed.

[2020-05-28 18:31] #609 closed

[2020-06-11 04:50] RB4915 commented on #604
Same problem here, have you found solution for it? it only shows when target sdk 29 compileSdkVersion 29

[2020-07-16 15:32] puppykickr commented on #510
I just tried the app for the first time.
It seems real nice, as I am looking for a replacement for Simple Gallery.

The largest issue I found was that the video player does not work.

Videos show up in the folders, but only as images.
They do not play at all.

GIFs, on the other hand, play great.

device:
Poblano HotPepper VLE5

OS:
8.1.0  GO

app version:
0.8.2

[2020-07-18 04:42] maharishi-01 commented on #263
Can I work on it?

[2020-07-31 02:44] saketsingh0078 commented on #607
can i work on this issue ?

[2020-08-05 15:43] g1lg1l commented on #607
@saketsingh0078 yes, ty!

[2020-08-05 15:45] g1lg1l commented on #263
@maharishi1 yes, ty!

[2020-08-25 08:27] meena3222 opened #613 "Multiple file copy and paste"
Unable to copy and paste multiple files after selected. Copy and Paste menu button not working?
What should i do for solve it?

[2020-08-30 06:30] ufarooq opened #614 "screen rotation cause video go back to start"
version: v0.6-beta-1
Open the app, start a video (maybe one of the demo videos in the app) and restart the activity by rotating, player pause and slider go to zero.

[2020-10-11 18:34] VinamraGuptaa commented on #435
Hey. Is this issue is still open? I would like to work on it.

[2020-10-28 14:32] zeeshanbeg commented on #614
is this problem still present ? else I would like to do this
thanks

[2020-12-15 07:37] xrl2408 opened #615 "about copy files"
Unable to copy multiple files.
I click the copy button, but it not works.

ps: Maybe I use the AVD?

[2020-12-15 07:43] xrl2408 commented on #615
The force rotate function not work in AVD, I rotate the phone using analog signal, the picture not rotate

[2020-12-19 08:56] licia-tia opened #616 "Can not select "sort by type""
![bug6](https://user-images.githubusercontent.com/22077929/102685359-104d8c80-421b-11eb-86a4-caeb0d6972c4.gif)

[2021-04-02 09:38] Mahendra-Gohil commented on #604
java.lang.IllegalArgumentException: Invalid column count(*)

[2021-06-12 18:48] toth2000 commented on #616
Can I work on this issue?

[2021-09-26 21:32] adilrenzu opened #617 "Whatsapp media not showing"
Whatsapp folder doesn't show up, probably becoz whatsapp changed its media path of Android/data/whatsapp

[2021-10-15 07:08] arakhia opened #618 "Factors Behind Updating Third-Party Libraries in Mobile Apps"
Hello LeafPic developers,

I'm a master student studying third-party libraries update behavior, and trying to build a tool that can help app developers with 3rd party libraries update. The tool should provides insights to developers about libraries in their apps, hence, developers can make better decisions when updating those libraries. The following survey study factors that motivate the update d

[2021-10-15 07:13] arakhia commented on #618
Please consider participating in my survey.
@dnldsht @gilnd @calvinnor @rupak0577 @lorisgir @Sysmain @tonyzzp @tauquir @brandonio21 @macarus0 @dethstar @LDongGyu @TrebuhD @abhimaniCodal @Arjun-sna @licaon-kter @adam-poteralowicz @akm0012 @KignorChan @51114u9 @pylerSM @pelya @smeyyeac @Grandolf49 @d4rken @thakkaryash94 @aaronallenCS @tahirmoedeen53

[2021-10-15 07:21] licaon-kter commented on #618
@arakhia can you stop spamming all the projects pls?

[2021-10-15 07:32] g1lg1l commented on #618
@arakhia why is this an issue ? this is unrelated topic, also this project is no longer maintained!

[2021-10-15 07:32] #618 closed

[2021-10-15 07:53] arakhia commented on #618
@gilnd
Sorry for any inconvenience, I will not mention you anymore. I just opened the issue as I found it the only way to reach to you guys, I didn't find discussion forums in your project, and I need to find app developers who are willing to answer the survey.

Thanks for your time.

[2021-11-22 09:39] ilihas786 commented on #614
i am a beginner in open source i like this issue because i have worked on slider so i want to resolve this issue

[2021-11-23 05:12] ilihas786 commented on #435
can you explain the issue please i am beginner to open source